[2014-01-20 06:56] rpwoodbu opened #1 "Make ssh password/passphrase repeat"
Right now, you only get once chance to enter your password/passphrase. Make it repeat the question once or twice.

[2014-01-20 06:57] rpwoodbu opened #2 "Wide character (e.g., Unicode) input doesn't work"
Entering or pasting Unicode does not function.

[2014-01-20 06:59] rpwoodbu opened #3 "Make adding ssh keys easier"
One easy way would be to add a button in the UI to add/replace the key, which would pop up a box to paste it into.

Also, consider supporting multiple keys, which is mostly a UI thing.

[2014-01-20 07:01] rpwoodbu opened #4 "Allow multiple simultaneous sessions"
This will likely require a major UI change (which needs to happen anyway, as it is currently hideous), but also some changes to the code to allow multiple "instances". Some work toward this has already been done with the GetPOSIX() call; it should be able to distinguish which instance to use by looking at the current thread ID.

[2014-01-20 07:07] rpwoodbu opened #5 "Too easy to close the window by mistake"
Right now, if you hit the "close" button, the session is just gone without warning. Happily, CTRL-W does not close the window, but is passed to the terminal. Nonetheless, this is problematic.

There are two obvious solutions to this:
1. Keep the session going in the background. This would require some UI changes most likely. The session can always be totally destroyed with `Ctrl-^ .`. This would b

[2014-01-20 07:12] rpwoodbu opened #6 "Store session state on durable storage for session resuming"
This may be controversial. Maintaining a web-like environment means not keeping any run-time state that would be lost if the browser is closed. This is especially important on Chrome OS, as signing out has no "are you sure", and any user can sign anyone out from the lock screen. Also, it stinks to lose your session because of a browser update, which is pretty frequent if you are on the Beta track.

[2014-01-20 08:03] rpwoodbu opened #7 "Implement getsockopt() for nonblocking connect()"
Currently, an ssh connection failure is not communicated properly to libssh, which means that failed connections simply have to timeout within libssh (only 10 seconds, but still).

This is due to the fact that the socket is non-blocking, which requires getsockopt() to communicate the disposition of the connection, which has not been implemented.

See `man connect` and search for `EINPROGRESS` for

[2014-01-21 01:24] rpwoodbu opened #8 "mosh-server UTF-8 error"
Sometimes, ssh-ing into systems gives this error:

[code]

This is repeatable on such servers by issuing this from the client:

[code]

But the "mosh" Perl script has no trouble.

[2014-01-21 18:09] rpwoodbu opened #9 "Password entry doesn't understand backspace"
Backspaces are stored literally. This improvement could be fixed simultaneously with issue #1.

[2014-01-21 22:24] rpwoodbu opened #10 "Improve load time for NaCl module"
Since the move to PNaCl, the NaCl module take a long time to load the first time after an update. This is likely due to the module being converted to the local architecture. This delay is a bit off-putting, and could be a major annoyance during periods of rapid iteration. See if there's a way to cut down the load time or hide it. Some ideas:
- Load the module immediately upon starting the app, rat

[2014-01-22 04:34] rpwoodbu opened #11 "Follow browser user's locale for locale fallback"
In SHA 56e7051 (issue #8), a fallback locale of en_US.UTF-8 was set. This is hacky. It should follow the local of the browser user.

[2014-01-22 04:37] #8 closed, assigned to rpwoodbu

[2014-01-22 04:57] #9 closed, assigned to nobody

[2014-01-22 19:11] rpwoodbu opened #12 "Remove scrollbar"
The scrollbar is noise. Mosh doesn't have a scrollback buffer. Maybe if this could communicate through to screen or tmux, that'd be neat. But for now, turn it off.

[2014-01-22 20:01] rpwoodbu opened #13 "ssh timeout too short"
The ssh connection timeout is currently 10 seconds. This is causing problems connecting to machines that are under heavy load or when the network is being laggy. Increase this timeout.

Probably need to fix issue #7 first, so that the long timeout doesn't cause grief when the connection fails for other reasons.

[2014-01-23 05:24] #12 closed, assigned to rpwoodbu

[2014-01-24 03:57] rpwoodbu opened #14 "Tolerate nonfatal error when sending '-l' to old mosh-server"
If we're connecting to an old (pre v1.2) mosh-server, it doesn't understand the '-l' option. Consider trying first without it.
Edit: Instead, tolerate the non-fatal error you get from old mosh-servers.

[2014-01-24 06:56] #14 closed, assigned to rpwoodbu

[2014-01-24 07:31] rpwoodbu opened #15 "App may close unexpectedly during automatic update"
I have reason to believe that when a new update is pushed to the Chrome Web Store and received by the browser, any running copy of the app will be killed. I'm not 100% sure of this, as I've only seen it happen when I pushed the "Update extensions now" button, which may force something. But I suspected this might happen when reading the Chrome App API docs. I was really hoping that this wouldn't ha

[2014-01-24 21:27] #15 closed, assigned to rpwoodbu

[2014-01-26 06:37] rpwoodbu opened #16 "Honor ssh interactive auth local echo"
libssh tells us if, during interactive auth, a particular question's response should be echoed to the local terminal (e.g., second factor). Right now, no echoing is done, ever. Plumb this through and honor it.

[2014-01-26 06:42] rpwoodbu opened #17 "Make window easier to close on exit"
Like "Secure Shell", when Mosh exits, it should provide an easy prompt to close the window with a keystroke, rather than requiring the user to click on the "X". Bonus points for allowing starting a new session with a keystroke, too.

[2014-02-02 15:40] rpwoodbu opened #18 "Allow user to select which keys to pass through"
Currently, hterm grabs all the keys it can to pass through to the session. For example, this includes Alt-"number" keys, which are often used to switch windows or workspaces, and Alt-minus, which is used on Chrome OS to minimize the window. While some users want those to be passed through (e.g., users of byobu), others may prefer them to be interpreted by the system.

Look into making this a confi

[2014-02-02 21:18] #4 closed, assigned to rpwoodbu

[2014-02-03 05:45] #7 closed, assigned to rpwoodbu

[2014-02-03 05:51] #13 closed, assigned to rpwoodbu

[2014-02-03 22:41] LeftyBC opened #20 "Wide characters not displaying on OS X and Windows"
On my OS X Mavericks machine, connecting to a remote machine via Mosh extension (0.2.0.20, precompiled version from the Chrome App Store) produces corrupted output.

Attaching to tmux produces a blank screen, and curses-based apps fail to draw correctly on the screen.   I initially thought it was my relatively fancy bash PS1 prompt, but setting PS1 to `\u@\h \w \$` still produced issues.

Attached

[2014-02-06 21:21] rpwoodbu opened #21 "Use naclio lib"
I now understand that the naclio library has support for UDP. See about using that instead of PepperPOSIX.

[2014-02-07 23:00] sidion opened #22 "irssi cannot view window at times"
I've been trying to track down what the issue is and i think i have it.

When connected to a screened irssi session.
There are times when i try to change windows to see a different channel.  the input is taken but the mosh terminal does not do any visual update so i cannot see the channel.

I think the cause is when a large string has been posted in the channel and it is causing issue with the wor

[2014-02-09 00:34] GrimHacker opened #23 "FAQ incorrect"
The section: "How can I change the way the terminal looks (font, color, etc.)?" of https://github.com/rpwoodbu/mosh-chrome/wiki/FAQ states that "mosh_client.html" should be opened.
This appears to be incorrect, it should be "mosh_window.html" because term_ is not defined in "mosh_client.html" (see screenshot).
![image](https://f.cloud.github.com/assets/3476150/2118778/7df6c5b6-9120-11e3-9739-59bf8

[2014-02-09 16:20] #23 closed, assigned to rpwoodbu

[2014-02-11 20:24] schwuk opened #24 "Putting mosh into full screen obscures shelf (ChromeOS)"
I'm trying out mosh on my Chromebook. If I have the shelf set to auto hide, and make the mosh window fullscreen, then I can never get the shelf back - even if I switch to another app - until I stop mosh being fullscreen again.

[2014-02-11 21:16] #24 closed, assigned to nobody

[2014-02-15 20:56] trichner opened #25 "Some ssh passwords are not handled correctly"
I'm trying to login to my server but it gives me a 'ssh authorization failed' on my password.
My server is using the yubi-PAM module for two-factor authentication, it might cause problems, although it only needs a password. Other ssh clients work fine, even the Chrome 'Secure Shell' which is using NaCL.

Since the only output is that it failed, it's pretty hard to pinpoint the problem.

Also, what

[2014-02-16 05:50] rpwoodbu opened #26 "Change ssh::Session::AuthUsingPassword() to use char *"
Just like with ssh::KeyboardInteractive::Answer(), use a const char \* to accept sensitive data (i.e. the password), so that the lifecycle can be more easily managed.

[2014-02-16 06:37] #18 closed, assigned to nobody

[2014-02-16 06:53] rpwoodbu opened #27 "Add "New Session" context menu item to launcher"
It looks to be possible to add context menu items to the launcher icon for the app:

http://developer.chrome.com/extensions/contextMenus.html#method-create

Currently, due to behaviors on Chrome OS, the "New Session" window (mosh_client.html) is left open, and if the user closes it, he may never get it back. Other platforms will bring the window back when the user attempts to launch the app again

[2014-02-16 19:37] #26 closed, assigned to rpwoodbu

[2014-02-16 21:00] #17 closed, assigned to rpwoodbu

[2014-02-16 22:00] #27 closed, assigned to rpwoodbu

[2014-02-16 22:04] #10 closed, assigned to rpwoodbu

[2014-02-17 04:25] rpwoodbu opened #28 "Add notice for new version"
There's an API for checking if a new version is available. Since users will often leave the app running for long periods at a time, they might be missing out on new features and fixes without realizing it. Look into ways of surfacing this information and letting them restart the app. Possibilities include:
- Show a notice on the "new session" window.
- Use the Notification API to pop up a notice.

[2014-02-17 22:06] rpwoodbu opened #29 "Save and sync connection profiles"
It would be useful to be able to maintain a list of connection profiles to the various servers the user uses. This list should be synchronized among browsers. This would facilitate managing more advanced options that may come in the future, such as port forwarding, special remote commands, etc. It could also serve as the UI mechanism for dealing with "suspended" sessions, as could happen when acci

[2014-02-17 23:03] rpwoodbu opened #30 "Exit NaCl module if resolution fails"
If I get a "Resolution fails" error, I don't get the option to hit "x" to exit. That's likely because the module is not exiting.

[2014-02-17 23:13] rpwoodbu opened #31 "Store and verify ssh fingerprints"
Right now, the ssh server fingerprint is just printed to the terminal. Just like with OpenSSH and known_hosts, these fingerprints should be saved and verified.

[2014-02-17 23:14] trichner opened #32 "Mosh-server timeout"
I noticed my mosh-server lives on for quite some time even if I close the shell window.

Is there any timeout? How high is it?

And mosh-chrome should peacefully shut down the server if I close the window.

[2014-02-17 23:18] #32 closed, assigned to nobody

[2014-02-23 00:08] shirro opened #34 "Eating escape sequences"
I had a weird issue with arrow escapes occasionally (but not always) being eaten and I thought it was something server side with tmux or vim or something but it only happens using mosh-chrome.

I wondered if it was something in hterm or something with mosh in general bit it doesn't happen using Chrome Secure shell to ssh or when using Chrome Secure Shell to do mosh from a local chroot. In all case

[2014-02-23 04:56] #34 closed, assigned to nobody

[2014-02-23 11:17] shirro opened #35 "Extremely slow"
I had an issue with mosh triggering strange behaviour due to a vim plugin that I closed as it was really an issue with my vim setup.

It made me realise how slow mosh-chrome is compared to regular mosh or ssh. I created a test file to open up vim, go into insert, enter a text document, then quit and timed it on a Toshiba Chromebook and a 2009 Macbook Pro. Both running Chrome Beta channel Version 2

[2014-02-23 16:48] #35 closed, assigned to rpwoodbu

[2014-02-23 19:05] #30 closed, assigned to rpwoodbu

[2014-02-23 20:44] #16 closed, assigned to rpwoodbu

[2014-02-23 21:42] rpwoodbu opened #36 "Use something other than exit() to end session"
Calling exit() is seen as a crash to NaCl. Excessive crashes lead to throttling of module startup, potentially leading to user confusion. Throttling manifests in Chrome's stderr as:

[code]

Exits leading to throttling manifest in Chrome's stderr as:

[code]

Find another way to communicate that the session is over, and shutdown the module properly.

[2014-02-23 21:54] #1 closed, assigned to rpwoodbu

[2014-02-23 21:55] rpwoodbu opened #37 "Clean up SSHLogin()"
SSHLogin() is a giant function. It should be broken out into a separate file, various functions, and probably a class. A lot of the flow could be clarified this way.

[2014-02-24 02:04] #28 closed, assigned to rpwoodbu

[2014-02-24 03:28] rpwoodbu opened #38 "No retry for key passphrase"
The recent feature of allowing password retries (issue #1) isn't working for key passphrases. It returns an error, then says that no ssh key is found (!), and moves on.

[2014-02-24 06:09] #38 closed, assigned to rpwoodbu

[2014-02-26 23:58] rpwoodbu opened #39 "Prevent window closing on clean browser shutdown"
I've observed that if I leave CIRC running when exiting Chrome, Chrome still runs in the background until I close the CIRC window. Doublecheck that this is not the current behavior of Mosh. If it isn't, see if it can be made so.

[2014-03-01 04:08] shirro opened #40 "osc52 support for hterm paste to clipboard"
hterm supports osc52 to write from the term to the system clipboard. There are examples of a shell command and vim plugin in libapps/hterm/etc. I have found this works well with Chrome Secure Shell packaged app but when I use mosh, either the packaged app or start mosh over Secure Shell the osc sequence doesn't appear to get through the mosh terminal emulation.

This is probably an upstream issue

[2014-03-06 00:58] adlr opened #41 "Ctrl-Shift-v and right-click are exiting mosh"
Just noticed this today on Chrome OS. When I do either ctrl-shift-v or right click (I'm trying to paste), mosh exits. I then see a message prompting me to hit [x] to close the window.

I'll try rebooting later to see if there's something odd on my system, but I wanted to mention this in case others are seeing it.

[2014-03-08 18:24] #41 closed, assigned to nobody

[2014-03-08 22:37] #39 closed, assigned to nobody

[2014-03-09 06:52] #37 closed, assigned to rpwoodbu

[2014-03-09 19:57] AlexisEvo opened #42 "Copying to clipboard doesn't work"
Chrome OS (Samsung ARM)
Version 34.0.1847.48 beta
Platform 5500.44.0 (Official Build) beta-channel daisy
Firmware Google_Snow.2695.117.0

Copying to clipboard just doesn't work. I can select text, the "cut" icon appears then fades away, but my clipboard keeps the old data. Pasting to the terminal via right click or control shift alt works fine. Copying in Secure Shell and crosh works fine.

Manual

[2014-03-10 04:32] #31 closed, assigned to rpwoodbu

[2014-03-10 05:39] #36 closed, assigned to rpwoodbu

[2014-03-10 08:03] AlexisEvo opened #43 "Typing accented characters isn't working."
Typing/pasting characters like á, ä, å etc results in Ã¡, Ã¤, and Ã¥ respectively. If I use Secure Shell, then mosh within Secure Shell, it works fine.

[alexis@fluffy ~]$ locale
LANG=en_US.UTF-8
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="

[2014-03-10 19:12] #43 closed, assigned to nobody

[2014-03-16 04:23] #20 closed, assigned to rpwoodbu

[2014-03-16 05:20] #42 closed, assigned to rpwoodbu

[2014-03-16 05:45] #2 closed, assigned to rpwoodbu

[2014-03-18 03:03] c0deweaver opened #44 "Theme Support"
Is there a way to set colors that could be saved, for example setting up solarized theme for mosh. Theme option of Solar (dark/light), light (black on white), and dark (white on black) It could be small or big enhancement project to take on.

[2014-03-23 04:16] #22 closed, assigned to nobody

[2014-03-26 19:59] adlr opened #45 "Permanent zoom message when system-wide zoom default != 100%"
Repro: (for me, on Chromebook) go to the zoom settings and set the default web zoom to something other than 100%. I used 125% b/c the machine I'm on has tiny little pixels.

Open Mosh, see complaint. According to rginda, when the web zoom != 100%, hterm stops trapping ctrl +/- so that you can use those to fix it, however it seems that chrome doesn't look for those keystrokes on v2 apps.

I think t

[2014-03-28 16:24] rpwoodbu opened #46 "Cannot use SSH key with no passphrase"
A report from a user on the Chrome Web Store says that when he uses an SSH key with no passphrase, he is still prompted for one, and when he just hits `enter` it goes to the next authentication mode.

[2014-04-13 06:34] rpwoodbu opened #47 "Too much CPU when idle"
I've noticed that the module will take 20-75% CPU every 3 seconds or so, sometimes after about a minute of being idle, although this isn't always repeatable. A keypress seems to get it out of this funk temporarily. The clock in tmux updating every minute doesn't seem to be enough to do it, but more (or different) output seems to help, even without involving keystrokes.

I'm guessing there's some w

[2014-04-20 23:36] #46 closed, assigned to rpwoodbu

[2014-04-25 07:07] #47 closed, assigned to rpwoodbu

[2014-04-26 20:02] #45 closed, assigned to nobody

[2014-06-09 20:58] taralx opened #48 "hterm captures both Command and Option as meta"
I didn't find anything in either this FAQ or the hterm one to disable it. I like having Option (alt) as meta, but how do I get it to leave my Command key alone?

[2014-06-09 20:59] taralx opened #49 "Text abuts edge of window"
The white text abuts directly against the left/right edges of the window, resulting in an unpleasant juxtaposition of my text with the surrounding environment. Please add a pixel or two of padding. :)

[2014-06-11 04:04] #48 closed, assigned to nobody

[2014-06-25 18:23] henkjan opened #50 "cursor position is wrong / cursor disappears"
Since last update on dev channel cursor position is wrong. Problem first reported on Secure Shell, but mosh-chrome also is affected as it is also using hterm

Copy/paste first message from https://code.google.com/p/chromium/issues/detail?id=386414

What steps will reproduce the problem?
1. login
2. vi
3. :q

What is the expected output? What do you see instead?
- The cursor indicator rectangle is

[2014-06-28 22:46] #50 closed, assigned to rpwoodbu

[2014-06-28 23:03] rpwoodbu opened #51 "Allow background image to be loaded from arbitrary site."
From a bug report on the Chrome Web Store:

I'm guessing this is due to Packaged Apps being more restrictive. I should look into what permission I could add to `manifest.json` to make this work, if possible. After all, the app can already "exchange data with any computer", so it really wouldn't make the situation any less secure.

[2014-06-29 00:58] pefoley2 opened #52 "Make urls clickable"
e.g. clicking on http://google.com opens google.com in a new tab.

[2014-06-29 01:31] #52 closed, assigned to nobody

[2014-07-11 22:19] rpwoodbu opened #53 "Unstable with lots of output"
From a user on the Chrome Web Store:

This is kinda peculiar. I haven't seen this, even though I use it all day every day. And I'm not immediately able to reproduce it. The symptoms remind me of some issues I had in initial development with select() emulation not working properly.

Any details on how to reproduce this reliably would be appreciated.

[2014-07-26 16:39] stephankn opened #54 "Missing way to store session details / protocol handler"
I searched all documentation in the wiki I could find, but seems that there is no way to store (bookmark) the connection settings of my server.

So I have to type username/hostname/port every time I want to open a new session. Having a list of "bookmarks" would be great.

Am I missing it and it's already there?

I also thought it might be that it installs itself as a protocol handler to handle som

[2014-07-28 03:19] #54 closed, assigned to nobody

[2014-08-02 16:21] seang96 opened #55 "SSH RSA Key Login"
I try logging in using my RSA key, however I get this:
Trying authentication type Public Key
Key auth failed: Access denied. Authentication that can continue: publickey,password

Using no passphrase, if i change it to have a passphrase, it still does not work. Thanks.

[2014-08-07 05:00] #55 closed, assigned to nobody

[2014-09-04 18:05] Prize-Loser opened #56 "Failure on loopback connections"
When I connect via a loopback connection, mosh-chrome initiates a connection but never displays any data.  It's a 50/50 shot whether it stops responding after asking for my password or shows the blue bar and errors out after several seconds with the error:

mosh did not make a successful connection to [external IP]:60002.  Please verify that UDP port 60002 is not firewalled and can reach the serve

[2014-09-10 18:08] rpwoodbu opened #57 "Bad memory leak and spinning when waiting for user input during login"
Reported through the Chrome Web Store.

If you start to connect using ssh to a new server, but don't answer the yes/no question about accepting the fingerprint, eventually Mosh starts spinning and consuming all your RAM. See [this screenshot](http://postimg.org/image/3kfuv10pb/) from the reporting user.

I suspect this happens when the remote ssh server times out waiting on a response. This may al

[2014-09-15 19:02] wwoods opened #58 "Home / end keys don't work in vim under Chrome App"
On a macbook pro (which uses fn+left and fn+right for home and end, respectively) running Windows, the chrome app version of Mosh does not correctly implement home / end functionality in vim. Nano and the terminal work fine. However, if I open a file in vim and fn+right (end), the cursor simply blinks without moving to the end of the line. fn+left (home) does not work either.

This only seems to a

[2014-09-23 19:05] davidn opened #59 "Please give option to run in a tab"
At the moment mosh runs in it's own window. In some cases it would be preferable to run in a browser tab.  Could this feature be added? If it is possible by changing hterm options please add an example to the FAQ in the github wiki.

Thanks!

[2014-09-23 20:30] #59 closed, assigned to nobody

[2014-10-03 01:43] mjkelly opened #60 "Add easy way to change hterm preferences"
It would be nice if there was a standard preferences page to make editing them easy, without doing ``term_.prefs_.set('foo')``.

This is largely selfishly motivated, and I volunteer to add it, but it might take a while to me to get to it. Secure Shell does something like this already.

[2014-10-12 18:10] whodidthis opened #62 "tmux attach on remote command"
Was wondering if its possible to have

[code]

on mosh-chrome's remote command. If i try it it just hangs on

[code]

[2014-10-12 20:39] #62 closed, assigned to nobody

[2014-10-31 19:39] rpwoodbu opened #63 "Fix race in form prefill"
The session setup form displays before the prefill is done. This is usually not noticable, but on slow machines (e.g., Chromebooks under duress), there's a brief period between when the form is displayed and editable and when the fields are filled with the last used values. This creates a bad UX, especially if the user has started typing already (happened to me once).

Perhaps the fields could be

[2014-11-16 01:33] snip opened #65 "'@' char not supported in password"
When i'm trying to connect, if i have an @ char in my password it report bad password and do not allow me to connect.

[2014-11-27 19:50] niieani opened #66 "Mouse support"
Hi @rpwoodbu
First - great work on Mosh for Chrome so far!
I was wondering, since I've added mouse support to mosh about a year ago, if it would be possible to add these to the chrome version:
https://github.com/keithw/mosh/pull/461/files
I know the Chrome NaCL SSH client has mouse support, so it should be relatively easy to add.

[2014-12-24 21:21] rpwoodbu opened #67 "Support punycode"
Non-ASCII hostnames, e.g. "kæn.guru", should be converted to punycode.

[2014-12-26 13:03] ysangkok opened #68 "Update Hterm to add 24-bit color support"
24-bit color support was added to Hterm: https://code.google.com/p/chromium/issues/detail?id=410371

Mosh-chrome doesn't seem to support 24-bit color yet. So I assume the version in mosh-chrome is too old.

Thank you.

[2015-01-02 18:27] whodidthis opened #69 "Alt-tab on full screen"
Would it be possible to make alt tabbing work when using mosh-chrome full screen?

[2015-01-03 22:18] rpwoodbu commented on #69
I assume you want to be able to switch windows when in full-screen mode. This is entirely platform-specific. I doubt there's anything I can do to change the Alt-Tab behavior from within the app. I recommend you check how your platform behaves in general, and see if there's anything within the platform you can adjust. I might also recommend simply maximizing the window instead of going full-screen.

[2015-01-03 22:18] #69 closed

[2015-01-03 23:07] whodidthis commented on #69
Whoops, sorry for reporting this.

It's an hterm issue anyways https://code.google.com/p/chromium/issues/detail?id=398905

[2015-01-03 23:37] rpwoodbu commented on #69
Ah, thanks for the link. If this is indeed an hterm issue, feel free to ping this bug once it is fixed upstream so that I know to do a new build with a new hterm.

[2015-01-06 13:59] soichih opened #70 "SSH agent forwarding"
Is there anyway to implement SSH agent forwarding; preferably reusing Pageant as the key store..

I saw mosh itself hasn't implemented the agent forwarding feature, so maybe that needs to happen first, but I wanted to request this feature since I will be using mosh-chrome to access my mosh/ssh server.

[2015-01-06 20:20] rpwoodbu commented on #70
I'd like this myself, but as you mention, this isn't available in the upstream mosh code. There may have been some work upstream toward supporting port forwarding (which would make this possible), but I haven't looked in a while. In any case, I'm trying to avoid using any new upstream features until a new official mosh release happens (it's pushing two years since the last one).

Although this isn

[2015-01-06 20:20] #70 closed

[2015-01-08 08:38] haarts opened #71 "Improve error message when using unsupported ssh key type"
I've tried adding a ed25519 key. Adding seems to work, the bahaviour is the same as when adding a regular RSA key. However, when connecting, it asks me my password. But it doesn't accept it (I'm sure I've typed it right). The wiki mentions the key needing to be in PEM format. I _believe_ my ed25519 key is.

The format in `.ssh/id_ed25519` is:
[code]
It _does_ miss some headers I see with my RSA ke

[2015-01-09 05:56] rpwoodbu commented on #71
Mosh for Chrome depends on [libssh](http://www.libssh.org/), and I'm not sure it supports the key type you're trying to use. A better error message is likely in order, so I'll keep this bug open to improve that.

[2015-01-11 22:33] soichih opened #72 "Function key doesn't work"
Hi. I am using mosh on Chromebox with a standard USB keyboard. Chromebox/book captures function key events internally so if I press F1/F2, etc.. (say I am using byobu terminal multiplexer) mosh doesn't even know that I am pressing them.

This could be a Chromebox/book specific issue, but is there anyway to configure mosh so that all function key input to mosh-chrome will be passed to my ssh server

[2015-01-11 22:38] rpwoodbu commented on #72
If you hold down the search key while pressing the function keys, they will be interpreted literally by Chrome OS, and thus by Mosh.

You may have to setup the caps lock key to be a search key. I can't remember if I had to do this or not on my Chromebox with standard keyboard. Also, in the same place, you can actually tell Chrome OS to treat the function keys literally if you prefer (and as a Byob

[2015-01-11 22:38] #72 closed

[2015-01-14 16:31] soichih opened #73 "Can't resize mosh window by holding Right-Top corner of the window"
On Windows 8.1, I can't resize the mosh terminal window by dragging / dropping the right-top corner of the window. All other corner works, however. I am not sure if this is just some quirk with Chrome itself, but reporting this here just in case this was fixable through mosh-chrome.

[2015-01-14 16:37] rpwoodbu commented on #73
Can you reproduce this with another Chrome Packaged App or one where you've set it to open in a window instead of a tab?

[2015-01-16 14:02] soichih commented on #73
I tried couple of other Chrome Apps but so far they all run as browser tab. Do you know of an app that works like mosh-chrome?

[2015-01-16 14:04] soichih opened #74 "Feature Request: Make pasting mouse button configurable"
Hello.

I am used to pasting copied (selected) text by right clicking on a terminal window (like on Putty). Is there anyway you could make the mouse button for pasting configurable?

[2015-01-16 23:41] rpwoodbu commented on #74
This is purely an hterm thing, which is the terminal emulator used by Mosh for Chrome. You should bring it up with them. See the [FAQ](https://github.com/rpwoodbu/mosh-chrome/wiki/FAQ) for details on how to adjust items related to the terminal.

[2015-01-16 23:41] #74 closed

[2015-01-16 23:44] rpwoodbu commented on #73
[CIRC](https://chrome.google.com/webstore/detail/bebigdkelppomhhjaaianniiifjbgocn?utm_source=chrome-app-launcher-info-dialog) runs in a window as a Packaged App, and seems to use the default window trimmings. Give that a shot.

[2015-01-17 02:22] jpwoodbu commented on #73
I might have reproduced the behavior you're describing. I can move the mouse cursor over top of the _close_ button for the window and the mouse cursor will change to indicate that the window can be resized, but trying to resize from this position fails. If I carefully move the mouse cursor over to the space between the _close_ button and the edge of the window, I can successfully resize the window

[2015-01-19 06:25] jmesmon opened #75 "Only supports hmac-sha1, fails if server disallows it"
[code]

[2015-01-19 20:46] rpwoodbu commented on #75
Mosh for Chrome uses libssh. AFAICT, [they only support hmac-sha1 and "none"](https://www.libssh.org/features/). If this is an issue for you, please take it up with the libssh folks.

[2015-01-19 22:14] jmesmon commented on #75
https://red.libssh.org/issues/91 (a "fixed" issue) Indicates it does support at least hmac-sha2-256 and hmac-sha2-512

[2015-01-19 22:20] rpwoodbu commented on #75
Ah, OK. If it is in [libssh 0.6.0](https://www.libssh.org/2014/01/08/libssh-0-6-0/), then it'll get picked up soon as I'm currently working on a new build with updated deps. I'll reopen this bug, and have you test it once a new Mosh for Chrome is released (hopefully real soon now).

[2015-01-19 22:48] rpwoodbu commented on #75
Actually, I just realized I am using libssh 0.6.0 already. I misinterpreted the date, seeing it was built in January, but of last year. So what I'm doing will not get a newer version of libssh. There are some newer versions available, but the bug you linked says the feature is targeted for 0.7.0, which has not been released. If you find that the feature made it into 0.6.4 or earlier, I can see abo

[2015-01-21 03:47] jpwoodbu commented on #73
I tried the same actions with another packaged app, [CIRC](https://chrome.google.com/webstore/detail/circ/bebigdkelppomhhjaaianniiifjbgocn?hl=en-US&utm_source=chrome-ntp-launcher) and it behaves the same way. I don't think this behavior is mosh-chrome specific.

[2015-01-21 05:22] rpwoodbu commented on #73
Thanks, @jpwoodbu, for verifying that. I am closing this bug, as there's nothing I can do. Anyone particularly interested in this issue should open a bug with the Chromium project.

[2015-01-21 05:22] #73 closed

[2015-01-27 23:02] josephtate opened #76 "Multiple Outbound Connections"
I'd love to be able to to connect to multiple systems simultaneously.

[2015-01-27 23:04] rpwoodbu commented on #76
See the [Help](https://github.com/rpwoodbu/mosh-chrome/wiki/Documentation) link on the connection page.

[2015-01-27 23:04] #76 closed

[2015-02-01 22:14] rpwoodbu opened #77 "Remember ssh and mosh port numbers separately"
In `mosh_client.html`, the same port number field is used for both ssh and mosh modes. This causes confusion since the last port number used will be remembered and filled in, and if that was in mosh mode, it will lead the user to do an ssh connection on a weird port (e.g., 60001).

Break this into two separate fields, which are separately remembered.

[2015-02-01 22:23] rpwoodbu opened #78 "Cache decrypted ssh key"
Although ssh agents don't work through mosh, it could still be desirable to cache the decrypted version of the ssh key, so subsequent ssh-initiated mosh sessions don't require providing a passphrase. Perhaps this could be implemented as a checkbox option (defaulted to unchecked) on the main session window. Then when the user first provides the passphrase, it will be cached. Unchecking the option s

[2015-02-01 22:27] rpwoodbu commented on #78
One important detail: This should only cache in memory, never on disk. Therefore this needs to go in the memory of the JS background page. But if there is no mosh session running, Chrome will eventually unload the background page, which will throw away the key unexpectedly. Perhaps there's a way to prevent Chrome from doing this. If so, it should only be prevented iff there is currently a key cach

[2015-02-02 02:12] #58 closed

[2015-02-02 02:32] rpwoodbu commented on #68
Fixed in SHA 8f4b58d.

[2015-02-02 02:32] #68 closed

[2015-02-02 02:34] rpwoodbu commented on #56
Without more detail, I cannot proceed with this bug. Please reopen if you can answer these questions.

[2015-02-02 02:34] #56 closed

[2015-02-02 03:01] #3 closed

[2015-02-02 05:13] #63 closed

[2015-02-02 05:13] #77 closed

[2015-02-02 05:39] rpwoodbu commented on #71
Unfortunately, [libssh](http://www.libssh.org/) doesn't provide enough insight into why the key didn't load. The `ssh_pki_import_privkey_base64()` call just returns an `SSH_ERROR` or an `SSH_OK`. So Mosh for Chrome can't know if it didn't load because the format is wrong, the key type is unsupported, or the passphrase was wrong.

If this is a major issue for you, please take it up with the libssh

[2015-02-02 05:42] #71 closed

[2015-02-02 06:21] rpwoodbu commented on #65
This seems to be specific to Windows. I cannot reproduce this on Chrome OS either. I don't have convenient access to a Windows machine, so anyone who does, try this debugging technique:

Using `chrome://extensions`, pull up the `mosh_window.html` once you are at the password prompt. Place a breakpoint in the `sendKeyboard()` function (currently at line 171, subject to change). Inspect the `string`

[2015-02-02 10:49] snip commented on #65
Ok thanks for this. I will try it on my Windows.

For information on OSX i also have this issue with char which are requiring special key combination.
For example "|" char on french keyboard which require Shift+Alt+L doesn't works in mosh-chrome on OSX. Works well in native OSX mosh client.

[2015-02-18 22:20] snip commented on #65
Hi,

so i've put the breakpoint on line 171:`if (this.running_) {`
With `@`, the function is not triggered.
With `#` it also doesn't print `#` but `string.charCodeAt(0)` return value 27.

(test done after authentication on Windows 7)

Any idea?
Thanks

[2015-02-18 22:30] snip commented on #65
With  Secure Shell app `@` is printing nothing but `{` and `[` are working without any problem.

[2015-02-28 21:29] rpwoodbu opened #79 "Fingerprint change notice when only IP addr changed"
Both the fingerprint and IP address associated with it are stored. When the IP address of a machine changes, the user should definitely be consulted, but the messaging should be clearer that it wasn't the fingerprint that changed. Probably the IP address should always be shown when showing the fingerprint.

[2015-03-07 17:45] gsf opened #80 "Window title"
One thing I like in hterm is that I can set my window title to `user@host etc.` via the usual escape sequences. I have no idea how hard it would be to support that feature here as well.

[2015-03-07 20:10] rpwoodbu commented on #80
This functionality already exists, because Mosh for Chrome uses hterm. Let me know if it isn't working for you.

[2015-03-09 13:33] gsf commented on #80
Strange, it isn't working for me. Is there an option I need to tweak? No amount of escape sequence echoing or PS1 setting appears to modify the title bar. Here are windows for mosh-chrome and chrome secure shell with both at default settings:

![titlebar-mosh](https://cloud.githubusercontent.com/assets/151913/6555805/26e24c46-c63f-11e4-94f0-ce9553564ab6.png)

![titlebar-secure-shell](https://cloud

[2015-03-09 18:27] rpwoodbu commented on #80
Interesting. Is that Windows? I get a title bar in Unity on Ubuntu Linux. And I sorta get titles in Chrome OS (they don't show on the window for some reason, but they show when you have more than one window open and you click on the app icon on the panel). This works for both Mosh for Chrome and Secure Shell.

The fact that I don't get a title in Chrome OS makes me wonder if Chrome is allergic to

[2015-03-10 01:15] gsf commented on #80
Yes those screenshots were in Windows 8.1. And I see the same thing you see on my Chromebook -- no window title in either Mosh or Secure Shell. I now remember preferring the Crosh Window on the Chromebook because it displays titles on the window when Secure Shell doesn't.

[2015-03-10 03:33] rpwoodbu commented on #80
This seems to be a larger Chrome Packaged Apps issue:
https://code.google.com/p/chromium/issues/detail?id=225773

The only thing I could do is put Mosh for Chrome in a frameless window and provide my own title bar. There may even be some other benefits to doing so as part of a larger UI refresh. But don't expect such extravagances anytime soon.

[2015-03-10 03:33] #80 closed

[2015-03-10 03:43] rpwoodbu opened #81 "Protocol handler (mosh://) for bookmarks and links"
It _may_ be possible to register a custom protocol handler (e.g. mosh://) using `navigator.registerProtocolHandler` or similar. This could make it possible for bookmarks to be created to mosh sessions, which could act as a poor-man's connection manager.

Also see this, although it may not be relevant in this context:
https://developer.chrome.com/apps/manifest/url_handlers

[2015-03-10 15:49] gsf commented on #80
I was just about to link to the same issue. Best to wait for the Chromium team to resolve that. Thanks for looking into it!

[2015-03-13 10:41] pysiak commented on #75
The version available in Chrome Store is 0.2.8.30.
Are you going to publish a newer version which would include newer libssh to the effect of enabling things like ed25519 and sha2 MACs?

And thanks for your work on this!

[2015-03-14 03:18] rpwoodbu commented on #75
@pysiak Unless I'm missing something, a new release is not going to solve this problem. See my last comment about the issue not being fixed in the latest released version of libssh. I just checked, and they're still at 0.6.4. I am not going to link against an unreleased version of libssh for this issue. If this is a major problem for you, it is easy to build your own Mosh for Chrome with a libssh

[2015-03-14 12:22] pysiak commented on #75
Sorry, for a moment there I thougth libssh-6.4 had it, I must've been
confused.
Thanks

On Sat, Mar 14, 2015 at 4:18 AM, rpwoodbu <notifications@github.com> wrote:

--
Pysiak

[2015-03-21 00:31] gsf opened #82 "Make "Remote command" field work more like mosh command does"
With the command-line mosh I'm used to attaching to tmux on connect:

[code]

With a `tmux a`, or really any command including `bash`, in the "Remote command" box, however, mosh-chrome hangs after the following:

[code]

Authentication and login work fine when "Remote command" is left blank. Am I using it wrong?

[2015-03-21 03:55] rpwoodbu commented on #82
This is a usability issue that even hit me once, and I wrote the stupid thing! ;)

This was just a hack I threw in there because it was easy to do, and solved a problem I was having. I didn't consider feature parity with the `mosh` command.

That field is actually the whole remote command for the other end, including the `mosh-server` part (which is ordinarily covered by the `--server` option). Th

[2015-03-21 04:06] gsf commented on #82
Sounds like a good direction to take things in. Thanks.

[2015-03-22 04:35] rpwoodbu commented on #78
This seems easier said than done. There's no straightforward way to prevent the background page from going "inactive", which throws away all of its in-memory state. The best solution I've found so far is to set an alarm that fires every minute, but that is awfully hacky, and wasteful. What I want is a session-persistent in-memory store (never on disk), but I can't seem to find such a thing.

[2015-03-28 22:55] rpwoodbu commented on #65
Sorry for the delay. So if I understand you, this is also happening in the Secure Shell app. That almost certainly means the problem is with `hterm`, the JS terminal emulator that both apps are using. Therefore your best bet is to take it up with the `hterm` folks (which are the same as the Secure Shell folks). Once it is fixed upstream in `hterm`, I can do another build of Mosh for Chrome. In the

[2015-03-28 22:55] #65 closed

[2015-03-29 11:56] hdp opened #83 "setting MOSH_ESCAPE_KEY appears to do nothing"
After setting what I think this the correct hterm pref (mosh_client_.io.terminal_.prefs_.set('environment', {TERM: 'xterm-256color', MOSH_ESCAPE_KEY: '~'})), I still have C-^ as the escape key.  This environment variable was changed in mosh in May 2013 (https://github.com/keithw/mosh/commit/f960a8bcf56294ca7aafe3c14fc8c8c4c3941535), so I expected it to work in mosh-chrome.

Am I holding it wrong?

[2015-03-29 11:59] keithw commented on #83
That feature is only in Git. It hasn't been documented yet (which we will
need to do before we can release a Mosh with it). Happy to take a pull
request to keithw/mosh that adds it to the man page.
On Mar 29, 2015 7:56 AM, "Hans Dieter Pearcey" <notifications@github.com>
wrote:

[2015-04-02 15:12] goekesmi opened #84 "Paste doesn't work while running under Windows"
I'm using mosh-chrome as a chrome app under Chrome stable on Windows 8.1 Pro.

Paste doesn't work at all.   Neither from selections copied from putty, or from selections made from the same mosh window.

How do I provide useful diagnostics/debugging data to work with?

[2015-04-03 02:59] gsf opened #85 "Fullscreen exited when ESC pressed"
Unfortunately, apps need to do a little dance to stay in fullscreen mode on the chromebook when ESC is pressed. See https://developer.chrome.com/apps/app_window#property-AppWindow-fullscreen.

[2015-04-03 03:14] rpwoodbu commented on #85
Ah, thanks for that tidbit. I've been burnt by this before. I wondered if `hterm` ought to implement this, but then I realized that Secure Shell doesn't seem to have this problem. And I'm not finding `overrideEsc` anywhere in `hterm` or `nassh`. Huh.

Nonetheless, this should be easy enough to do, so I'll look into it.

[2015-04-03 03:17] rpwoodbu commented on #84
How are you trying to paste? On Linux and Chrome OS, you use `Ctrl-Shift-V`. Maybe an FAQ entry is in order.

[2015-04-03 03:24] rpwoodbu commented on #83
Furthermore, Mosh for Chrome doesn't make use of this "environment" setting in `hterm` (this is the first I've heard of it). The Native Client environment cleans out the environment, so some effort would have to be taken to reconstruct it.

FYI: There's a pull request outstanding which adds a page for setting these kinds of things. They're all `hterm` settings at the moment, but once that's in, I

[2015-04-03 03:24] #83 closed

[2015-04-03 12:55] goekesmi commented on #84
Right click, which is working for me on ChromeOS.  I'll test your
suggestion today.  Yes, an FAQ may be in order.

On Thu, Apr 2, 2015, 11:17 PM rpwoodbu <notifications@github.com> wrote:

[2015-04-03 14:39] gsf commented on #85
Yes I think this is another caveat that only applies to new-style apps.

[2015-04-03 19:34] rpwoodbu commented on #84
Neat, right-click also works! Interesting that it isn't mentioned in the Secure Shell [FAQ](http://git.chromium.org/gitweb/?p=chromiumos/platform/assets.git;a=blob;f=chromeapps/nassh/doc/faq.txt).

Once you determine if `Ctrl-Shift-V` works for you, I'll add a FAQ entry.

[2015-04-03 19:57] goekesmi commented on #84
Right click matches what I use on ChromeOS's SSH client.  thus, I was using
what matched there, and was suprised when it didn't work on Windows.

On a hunch, I just went and tested ssh as a chrome app on windows.  Right
click doesn't work for paste there either.  I'm suspecting this is
something with hterm.

Ctl-Shift-V works on both, however.

I now have a work around.  An FAQ entry would be good

[2015-04-03 20:00] #85 closed

[2015-04-03 20:12] rpwoodbu commented on #84
OK, thanks for the sleuthing. I decided to add this to the main documentation, as copy/paste is pretty fundamental. I agree that the right-click issue sounds like an `hterm` thing, so I'll leave it to them.

[2015-04-03 20:12] #84 closed

[2015-04-03 22:02] #82 closed

[2015-04-04 01:12] gsf commented on #82
That works! Thanks.

[2015-04-04 02:16] gsf commented on #49
Unfortunately, it isn't just a CSS change because of the way the divs are layered and the window is drawn. Below is the quick and dirty modification deep in hterm to get a pixel of padding. I have no idea how this would be exposed.

[code]

[2015-04-04 03:21] rpwoodbu commented on #49
Ah, good info, @gsf. That settles it, then: This should be in `hterm`, not in this project. They're pretty responsive to suggestions (and especially PRs), so if either of you want to bring it up with them, be my guest, and open a bug when they release a new hterm with the change so I can be sure to do a build against it.

[2015-04-04 03:21] #49 closed

[2015-04-08 14:53] zombiezen opened #87 "Support IPv6"
keithw/mosh#81 mentions that there is an experimental -6 flag that can be used.. it would be great if IPv6 support was available in this app.

[2015-04-08 21:55] rpwoodbu commented on #87
IPv6 support hasn't been released in the upstream `mosh`. Once it has, I probably won't sleep until I've made that work with Mosh for Chrome (I've even put TODOs in the right spots to add IPv6). But it is important to preserve the stability of Mosh for Chrome, which means it cannot depend on unreleased code.

[2015-04-08 21:55] #87 closed

[2015-04-08 21:57] rpwoodbu commented on #87
That said, if someone wants to fork this project and create a version that tracks the upstream `mosh` head of development, more power to them. I don't have the cycles for this, though.

[2015-04-08 22:35] keithw commented on #87
We (Mosh) would obviously prefer that you not do that, but of course anybody can if they want to. We've found IPv6 a bit frustrating to do in a cross-platform way (probably self-inflicted from our Perl and from our slowness in doing another release). @rpwoodbu , what is your opinion on a release of Mosh that would only enable IPv6 with a -6 flag (and if so, the session would be IPv6-only and would

[2015-04-08 23:22] rpwoodbu commented on #87
@keithw I've thought about this some. So long as it is behind a flag, it should Do No Harm, but would have marginal value for most. That said, I'd absolutely use it, as I have IPv6 in most places I use a computer, and find myself occasionally frustrated that my mosh sessions to some machines are busted until I get back to the internal network where I connected with an RFC1918 address.

I think cro

[2015-04-08 23:26] keithw commented on #87
Thanks for this feedback! And re: mosh release, we are trying to get a mahimahi release out in the next week or so, and then I will have some cycles to get back to mosh. Thank you for your patience!

[2015-04-09 16:23] zombiezen commented on #87
Awesome! This sounds great.

[2015-04-09 21:08] gsf opened #88 "Tab keypress lost, causes TypeError in hterm"
This is on the dev channel of ChromeOS, and it's really an hterm issue, and it's a known issue (https://code.google.com/p/chromium/issues/detail?id=468560), but I thought I'd create an issue here in case anyone else runs into it while using mosh-chrome.

The error is caused by the attempt to assign `false` to e.shiftKey at line 1199 of hterm.js (line 161 of hterm_keyboard_keymap.js). A workaround

[2015-04-09 21:11] gsf commented on #88
And from that chromium issue thread it appears that it's fixed in hterm as of this commit: https://chromium-review.googlesource.com/#/c/261315.

[2015-04-17 14:57] gsf commented on #88
Looks from that issue thread like the fix has been rolled into stable secure shell so as soon as mosh-chrome updates that dependency we should be good.

[2015-04-19 08:44] ardje commented on #87
Hello keithw,
I can assure you that IPv6 networks are pretty common in my world. I do not have to roam between ipv6 and ipv4. Most/all of the machines I manage have ipv6 native or by a tunnel. The most important feature about mosh vs ssh is that I can see what I type. With rtt's going up to 1s you know what I mean ;-). And that's probably why you wrote mosh.
The most important feature about IPv6 i

[2015-04-24 05:52] sasnfbi1234 commented on #88
about how long do you think that will take?

[2015-04-24 05:59] rpwoodbu commented on #88
Gadzooks! I just updated myself, and am now hit with this. Looks like I'll be fixing this immediately. Stay tuned.

[2015-04-24 06:08] sasnfbi1234 commented on #88
thanks a million rpwoodbu!

[2015-04-24 06:11] #88 closed

[2015-04-24 06:13] sasnfbi1234 commented on #88
so sorry. how could I update to fix this issue?

[2015-04-24 06:13] rpwoodbu commented on #88
I have just pushed this to the "dev" channel. I will push to the main app shortly. It will update itself.

[2015-04-24 06:14] sasnfbi1234 commented on #88
open source software is so cool! thanks

[2015-04-24 16:10] leetoburrito opened #89 "Tab key changes focus"
As of Chrome 43.0.2357.32 beta, the tab key changes focus in the mosh app (instead of passing through to the shell).  CTRL+i works as a workaround, but doesn't help with muscle-memory.

[2015-04-24 16:17] rpwoodbu commented on #89
Duplicate of Issue #88.

[2015-04-24 16:17] #89 closed

[2015-04-24 16:18] rpwoodbu commented on #88
For any onlookers: Be sure to close your Mosh windows for a few minutes for Chrome to apply the update.

[2015-04-24 17:03] zombiezen opened #90 "Mosh NaCl module crashes in v0.2.9.17 on ARM"
The update seems to have crashed my Mosh client.

Log from `mosh_window.html`:

[code]

Output displayed in terminal window:

[code]

[2015-04-24 18:35] rpwoodbu commented on #90
Does this happen every time? Does this happen only when connecting to specific servers?

[2015-04-24 20:29] zombiezen commented on #90
I don't have another server I can check against at the moment, but it does happen every time I connect to this particular server. It was working fine before the update.

[2015-04-24 21:46] rpwoodbu commented on #90
This doesn't happen for me, and I've been running this code for many weeks (it was in the "dev" release). I believe it is something about your server config, but I need to narrow down what that might be before I can realistically fix it. There were a lot of changes I made to the C++ code, so I'm not totally surprised there's some breakage.

Alternately, if I could have shell access to the machine,

[2015-04-24 21:48] rpwoodbu commented on #90
Actually, it looks like the crash happens before you enter your password... is that correct? If so, maybe all I need is the hostname of the machine to reproduce the problem. You probably don't want to put that in the bug either, so we can discuss privately.

[2015-04-25 17:42] gsf commented on #88
Thanks for the update, @rpwoodbu!

[2015-04-26 05:36] narrowfail opened #91 "App won't load"
I just updated chrome to version Versión 42.0.2311.90m and when I launch the app and try to connect "Loading NaCl module (takes a while the first time after an update)." and won't do anything. I waited for 20 min and nothing.

Thanks!

[2015-04-26 05:40] rpwoodbu commented on #91
I have very occasionally seen Chrome get stuck when loading NaCl modules. Usually restarting the app fixes the issue. Barring that, try completely restarting the browser. Let me know if that helps. If it doesn't, please also let me know what OS and CPU architecture you're running on.

[2015-04-26 14:41] zombiezen commented on #90
I use public key auth only, so I don't type in a password.  I'll contact you off-thread with details.

[2015-04-26 17:11] narrowfail commented on #91
Browser restarted, nothing happened. Im on Windows 8 x86-64.

[2015-04-26 18:50] rpwoodbu commented on #91
This isn't reproducible on Windows 8.1 Pro. Can you open the Javascript console and copy/paste the contents? Maybe there's a hint in there. There are instructions on how to get to the Javascript console [here](https://github.com/rpwoodbu/mosh-chrome/wiki/FAQ#how-can-i-change-the-way-the-terminal-looks-font-color-etc).

[2015-04-26 18:58] narrowfail commented on #91
Sure, here it is:
[code]

[2015-04-26 19:23] rpwoodbu commented on #91
The first error is "expected"; there's something in hterm that causes that, but is innocuous.

The compile process thing is the rub. Is there not anything after the colon? This doesn't look like a Mosh error, but some sort of issue with Chrome's PNaCl framework. I'm not sure how much help I can be. You might try installing the dev version (called "Mosh (dev)" in the store) to see if it has the sam

[2015-04-26 19:23] #91 closed

[2015-04-27 18:39] rpwoodbu commented on #90
FTR, here's what we know from our off-thread discussion:

* The dev release doesn't crash for you.
* You were able to replicate the problem on a clean VM.

I am able to connect to the VM you setup, and I cannot replicate the issue with either version. Furthermore, it is quite peculiar that the main release would behave differently from the dev release, as they are both currently built from the sam

[2015-04-27 18:47] zombiezen commented on #90
I'll try 1&2 when I get home. Number 3 still causes crash.

[2015-04-29 00:10] zombiezen commented on #90
1) Crash.
2) No crash (Linux x86-64, version 43.0.2357.37).
3) Crash.

The Chrome installation having this problem is ChromeOS version 43.0.2357.32 (ARM).  I'm wondering if that is the issue.

[2015-04-29 03:16] rpwoodbu commented on #90
Interesting suggestion about ARM. I have an ARM Chromebook l keep around just for testing such things, but I hadn't tested this build. I just tested it on 43.0.2357.32 beta, but no crash when connecting to your VM.

I want to doublecheck: If you login with a different account on the same Chromebook and install the app, it still crashes?

One last thing: Try logging into the account you created for

[2015-04-30 16:28] zombiezen commented on #90
Correct, on my same Chromebook and installing the app on a different account, it still crashes.

I logged into your account on the GCE instance and it crashes.

[2015-04-30 19:05] rpwoodbu commented on #90
OK, well, I'm running out of ideas, other than to blame your Chromebook. Maybe Chrome caches compiles, even across profiles, and even after reinstalling the app? Gosh, that's hard to believe. But I'm not left with much else. I'd be very interested to know if anyone else is experiencing this problem.

I will be updating Mosh for Chrome soon to incorporate an outstanding pull request. It'll be inter

[2015-04-30 22:56] jsimpsoncd commented on #90
I'm having the same issue on my chromebook.
Version 41.0.2272.102
Platform 6680.78.0 (Official Build) stable-channel daisy_spring
Firmware Google_Spring.3824.129.0

[2015-04-30 23:02] jsimpsoncd commented on #90
I tried in another profile on this same chromebook, which appears to have a different version, 0.2.8.30. That version/profile works for me.

My regular profile with 0.2.9.17 fails in the same manner as the reporter. I am not using keys in this case.

I do have other machines I could attempt against if it will help,

[2015-04-30 23:40] rpwoodbu commented on #90
@jsimpsoncd Thanks for the report... that's very helpful. Interesting that it is also an ARM machine (just like the one I have). Can you log into the other profile with 0.2.8.30, and give it some time to update to the new version, then see if the problem appears there? Also, can you install the dev version to see if that breaks?

[2015-05-01 00:36] jsimpsoncd commented on #90
@rpwoodbu so after letting it update, fails on my other profile as well.
And from the logs on the server I do actually see what looks like a successful login before it bails on the client side. I'll add the results of using the dev version once I've completed that.

[2015-05-01 00:38] jsimpsoncd commented on #90
I'm a bit unclear on how to utilize the dev release on a chromebook. I'm prodding around to figure out how, and that's fine, but if you fill in some details I'll probably get there sooner.

[2015-05-01 01:18] rpwoodbu commented on #90
@jsimpsoncd Do you mean where to get the dev version? Search the Chrome Web Store for "Mosh (dev)".

[2015-05-01 01:22] jsimpsoncd commented on #90
Sorry, didn't realize it was that simple. That said, dev fails with "Resolution failed: -110"

[2015-05-01 01:27] rpwoodbu commented on #90
That sounds like a separate problem. Can you ssh to the machine with Secure Shell or the ssh CLI in crosh?

[2015-05-01 01:33] jsimpsoncd commented on #90
I tried from the other profile on this chromebook. That failed with the same NaCl crash as before when using dev mosh.

I can ssh using the "secure shell" chrome extension to the box in question.

[2015-05-01 01:35] rpwoodbu commented on #90
Check your spelling of the hostname when connecting with the dev version. "Resolution failed: -110" usually means you spelled it wrong (or that there's no A record at that name, perhaps just AAAA).

[2015-05-01 04:51] scottweston commented on #90
My HP Chomebook 11 gets the same NaCL crash (regardless of server), *Mosh (dev)* works fine.

[2015-05-01 05:26] rpwoodbu commented on #90
Thanks, @scottweston, for that report! It is really useful to have more folks indicating this is a wider problem. The thing is, though, this is just getting weirder and weirder.

I just downloaded both .crx files from the Chrome Web Store (through the developer's console), and compared them. They are nearly identical, except for the expected changes in the manifest.json (i.e., version number and n

[2015-05-01 05:39] rpwoodbu commented on #90
Extra credit: Open the JS console on the Mosh background page (get to it from chrome://extensions) and run this command:

    chrome.storage.local.get(["field_server-command", "field_remote-command", "field_command"], function(o) { console.log(o); });

...and paste the output. You may need to expand to see all the output. You may not get any output, or you may only get a line or two.

[2015-05-01 14:10] jsimpsoncd commented on #90
I get the same crash in 0.2.9.16 mosh (dev) under my main profile. No remote commands setup.

I've now had the same issue on both chrome 41 and 42.

[2015-05-01 16:02] zombiezen commented on #90
@rpwoodbu Correct. When I tested on Linux, I had never run Mosh for Chrome on that machine.

I did not override the remote command at that time, but I had overridden it in the past.  Strange that it would keep that across installs, since I had fully uninstalled/reinstalled Mosh.

Output from extra credit:

[code]

(I confirmed that this is the output for an empty Object in Chrome.)

[2015-05-02 17:48] rpwoodbu commented on #90
@jsimpsoncd This is the first I'm hearing that the dev version crashes. Is anyone else experiencing this? It would actually make a lot more sense if it crashed just the same as the stable version.

Thanks for the details about the remote commands. I was really hoping that was it, but it doesn't seem like it.

I'm going to spend some time this weekend to see if I can teach PNaCl to output a stack t

[2015-05-03 07:19] rpwoodbu commented on #90
I have managed to reproduce the issue with my HP Chromebook 11 (ARM running Chrome OS 43 beta), connecting to my own server. I even did it with the dev release. So I'm in a much better position to run down this problem.

I spent the better part of today arguing with NaCl, trying to get any kind of debugging support (I've gotten by with printf-style debugging so far). It seems to border on the impo

[2015-05-03 23:01] rpwoodbu commented on #90
I have released 0.2.9.62 to "Mosh (dev)". It changes these things:

* Built with Pepper 43 instead of 39.
* Includes an extra unstripped debug binary (which isn't all that useful, but it is there... see SHA 85de478).

I can't make it crash, but then again, I can't seem to get the stable version of Mosh to crash, whereas you folks can. So please do your best to crash this one. What happened to me w

[2015-05-05 19:57] rpwoodbu commented on #90
Anyone still seeing crashes? I'm still planning on doing a stable release tomorrow unless I hear that this doesn't help.

[2015-05-06 16:11] zombiezen commented on #90
0.2.9.62 in Mosh dev does not crash for me.

[2015-05-08 23:40] scottweston commented on #90
Sadly I haven't had time to do more debugging, but I did manage to install the latest dev version on my Chromebook - it's been stable, no crashes for me.

[2015-05-09 09:20] grisher opened #92 "Not able to click links"
I'm wondering if the ability to click links is able to be added.

[2015-05-09 20:20] rpwoodbu commented on #92
Yeah, that would be nice. However, this would need to be implemented in hterm, which is the JS terminal emulator that Mosh for Chrome uses. This is a Chromium project (and is used in crosh as well as the Secure Shell app). So please do go bug them about this!

[2015-05-09 20:20] #92 closed

[2015-05-10 05:28] rpwoodbu opened #93 "Improve UX for updating the app"
When a new update is available, the app presents a low-priority desktop notification, as well as a yellow "butter bar" at the top of the new session dialog, suggesting that the user close all Mosh windows to get the new update. But it can take a very long time after that for the app actually to be updated.

I have seen some apps present a button to force an update immediately, which closes the app

[2015-05-10 05:31] rpwoodbu commented on #90
OK, this is rolling out now to the stable track. Thanks for all your help. I hope this doesn't come up again, but if it does, please mention it on this bug, and I'll reopen it.

[2015-05-12 20:16] halkeye opened #94 "Mosh client hangs at Loading NaCl module"
I've tried uninstalling and reinstalling the app, restarting the computer, etc etc etc.

hterm_deps.js:168 init: hterm
2015-05-12 13:10:46.992extensions::uncaught_exception_handler:8 Error in response to storage.get: TypeError: Cannot read property 'length' of undefined
    at Object.lib.encodeUTF8 (chrome-extension://ooiklbnjmhbcgemelgfhaeaocllobloj/hterm/hterm_deps.js:4388:26)
    at hterm.Termi

[2015-05-12 20:31] rpwoodbu commented on #94
Wow, crazy! What platform are you on? What version is currently installed? Can you repro with the dev release (in the store as "Mosh (dev)")?

[2015-05-12 20:37] halkeye commented on #94
Windows 7 Enterprise SP 1
Mosh 0.2.10.63
Mosh (dev) 0.2.9.62

Using dev:
hterm_deps.js:168 init: hterm
2015-05-12 13:37:06.524extensions::uncaught_exception_handler:8 Error in response to storage.get: TypeError: Cannot read property 'length' of undefined
    at Object.lib.encodeUTF8 (chrome-extension://hmgggebkhjjkiimkjlknpdgapncghehh/hterm/hterm_deps.js:4388:26)
    at hterm.Terminal.IO.print.hte

[2015-05-12 20:37] halkeye commented on #94
Chrome 41.0.2272.101m

[2015-05-12 20:40] halkeye commented on #94
There's at least one comment on the chrome page hinting other people are getting the same issue.

[2015-05-12 20:41] rpwoodbu commented on #94
Ah, I think the issue is Chrome 41. The current stable is Chrome 42. I had to update the NaCl SDK to 43 in an attempt to solve Issue #90, and that might have caused an ABI incompatibility with anything older than the current stable Chrome (and I think I recall reading something about that in the changelog).

Please try updating to Chrome 42 and tell me how it goes. If that solves it, then I'll hav

[2015-05-12 20:44] rpwoodbu commented on #94
Hmm, the comment on the web store page you mentioned seems to be running Chrome 42, but on ARM. I'm inclined to thing it is a recurrence of Issue #90, and separate from yours. I'll follow up separately with that user. Thanks for bringing it to my attention.

[2015-05-12 20:45] rpwoodbu commented on #90
I'm not sure this is fixed. I just got a comment on the web store saying that this is crashing on ARM still.

[2015-05-12 20:58] halkeye commented on #94
aha, 42 does fix it, apparently our corperate firewall or security settings prevents chrome from updating  automatically so I never got 42.

Should I close this?

[2015-05-12 21:00] rpwoodbu commented on #94
Thanks for testing that. I'll close this issue, thanks. I am sad, though, that my attempt to fix Issue #90 has created collateral damage to users such as yourself. But maybe it is a blessing in disguise; you're better off updating! ;)

[2015-05-12 21:26] rpwoodbu commented on #94
Note to self: Bump the minimum Chrome version in the manifest to 42.

[2015-05-12 22:49] scottweston commented on #90
I hadn't switched back to stable from using dev, just update stable to the latest one and can confirm it's crashing on my Chromebook 11. Looks to be the same error as before:

[code]

(captured via chrome://inspect)

[2015-05-12 22:58] scottweston commented on #90
Perhaps another useful data point I just noticed: the ssh part is working - I can see it successfully authing on the server but interestingly there is no ```mosh-server``` spawned like I would expect to see. I'll try turning up my ```sshd``` logging and see I can catch what it does on the server side before it crashes.

[2015-05-12 23:01] rpwoodbu commented on #90
If anyone is feeling adventurous, the new version of both stable and dev tracks has a binary with debug symbols in it, so if you want to try to get a stack trace with GDB, that'd be wonderful. I'll also try to repro on my HP11 when I get a chance.

Here's very short instructions (probably missing a step, but hopefully will get you going):
* First, read [this](https://www.chromium.org/nativeclient/

[2015-05-12 23:03] rpwoodbu commented on #90
@scottweston I noticed the same thing, and mentioned it a few days ago in this bug. It gets as far as actually starting `mosh-server`, and you can see from the JS log you posted that it is, in fact, trying to execute the mosh client code just before it crashes.

One thing I haven't tried, but is worth a shot: What happens if you use another ssh client to start `mosh-server`, then start Mosh for Ch

[2015-05-12 23:07] scottweston commented on #90
@rpwoodbu you are correct :) And it crashes regardless of if the MOSH_KEY is correct or not.

[2015-05-13 01:34] clijunky commented on #94
Before you bump the minimum, please be aware that this affects ChromeOS which is only at:
Version 41.0.2272.41 beta (64-bit)
Platform 6680.24.0 (Official Build) beta-channel link
Firmware Google_Link.2695.1.155

I'm going to try updating to bleeding edge Canary to see how that works.

[2015-05-13 01:39] halkeye commented on #94
My c720 is at:

Version 42.0.2311.134 (64-bit)
Platform 6812.83.0 (Official Build) stable-channel peppy
Firmware Google_Peppy.4389.89.0
Check for and apply updates

[2015-05-13 04:18] rpwoodbu commented on #94
@clijunky This blog post says that Chrome OS 42 has rolled out to all devices. And the data you provide says beta on it, which means you're actually two versions behind. More to the point, though, setting the minimum version will prevent old browsers such as yours from taking the update, which is strictly better than taking an update that absolutely won't run. It does have the effect of preventing

[2015-05-13 06:05] rpwoodbu commented on #94
New release is rolling out now with SHA 699b569.

[2015-05-13 06:05] #94 closed

[2015-05-13 06:07] rpwoodbu commented on #90
I managed to make a new build crash on my HP11. I rebuilt it (no changes), reloaded it, and no more crash. This has got to be a Chrome bug. Of course, the debugger was no help. And of course, when I built it with no optimizations, etc., it didn't crash. But maybe if I kept trying that, it would. Ugh.

I'm asking around among the NaCl experts to see if I can get any guidance.

[2015-05-14 03:16] jsimpsoncd commented on #90
Today I tried to get on again and could not from either of my profiles with either mosh or mosh dev. I reset the chromebook back to factory, and after doing so mosh fails but mosh dev does work.

This is also HP CB2

[2015-05-14 05:30] rpwoodbu commented on #90
Thanks for that update, @jsimpsoncd. Unfortunately, I'm not going to have any time to spend on this for a number of days, maybe a week. If anyone else wants to try to delve into it, please "check my math" on the use of pthreads, particularly as it relates to thread creation and any special considerations in NaCl.

[2015-05-14 15:19] telmacblack opened #95 "Update killed NaCl"
The update since maybe two weeks ago has broken NaCl. Mosh starts, it prints the "new NaCl driver" thing, and then sits there. I was running on regular (non-dev) mosh but that now says incompatible in the store (I tried removing it and reinstalling). Dev is broken as well.

Running chrome os Version 41.0.2272.102 64-bit on a lenovo x131e

[2015-05-14 19:45] rpwoodbu commented on #95
This is a dup of Issue #94. Old versions of Chrome are not supported. Please update to the latest stable release.

[2015-05-14 19:45] #95 closed

[2015-05-14 21:58] MikeColes commented on #90
Chrome Info:
Version 43.0.2357.65 beta
Platform 6946.44.0 (Official Build) beta-channel daisy_freon
Firmware Google_Snow.2695.132.0

chronos@localhost / $ uname -a
Linux localhost 3.8.11 #1 SMP Tue May 12 21:41:03 PDT 2015 armv7l SAMSUNG EXYNOS5 (Flattened Device Tree) GNU/Linux

Linux SSH server info:
goliath:~ # sshd -v
sshd: illegal option -- v
OpenSSH_6.2p2, OpenSSL 1.0.1e 11 Feb 2013
usage: s

[2015-05-21 03:33] snarlysodboxer commented on #90
Experiencing the same error for mosh and mosh dev. I get the same chrome://inspect stacktrace @scottweston reported.

CHROME VERSION: 42.0.2311.153
GOOGLE_RELEASE: 6812.88.0
hw_platform: SAMSUNG EXYNOS5 (Flattened Device Tree)

mosh v0.2.11.52
mosh v0.2.11.72
mosh-dev v0.2.9.62
all have the problem.

I don't think it matters but I'm using keys not passwords.

[2015-05-21 05:51] vapier commented on #60
@rginda how do you feel about moving some of the hterm preference stuff out of nassh and into hterm itself ?  that way people using hterm have an existing options page they can just drop in and run with.

[2015-05-21 23:02] rginda commented on #60
I intentionally kept it out of hterm for a few reasons, but we could revisit it.

My concerns were:
1. Window opening could depend on the embedding environment.  A Chrome v2 app we need to use chrome.window.create, and have to contend with strict CSP rules.  It's also going to want to link to the page from manifest.json.  A web page can get away with just window.open.

2. The hterm distributable i

[2015-05-22 03:13] terminalmage commented on #90
Been broken for me for a couple weeks now.

[2015-05-22 03:20] rpwoodbu commented on #90
As indicated in my recent post, I haven't had time to deal with this for the last week or so. I may be able to start taking a look at it again this weekend. Bear in mind, though, that this looks like a Chrome bug, so the best I can hope to do is work around it, but it isn't easy. I don't use ARM Chromebooks (because they're terrible), but I know a lot of folks do; I want to help ARM users, but I'm

[2015-05-26 06:14] rpwoodbu commented on #90
I'm pushing out v0.2.11.90 to the dev release right now. Please test and report so I can get this out to stable! I have a good idea what's going on now.

It would seem that the PNaCl translation step, which takes a portable bitcode file and compiles it for the target architecture, is to blame. I have been distributing the bitcode file, allowing the browser to do this translation itself (this is wh

[2015-05-26 15:05] zombiezen commented on #90
@rpwoodbu Thanks so much for spending the time to track this down! This sounds like it will benefit more Chrome apps than just Mosh.

[2015-05-26 19:20] snarlysodboxer commented on #90
You rock @rpwoodbu. Thanks for making such an awesome tool and being so on it.

I confirm it's fixed in dev.

[2015-05-26 19:30] kronn commented on #90
It works for me as well, running on a Samsung Chromebook on ARM-basis. The error first appeared after a ChromeOS update, so I assume that providing a correctly linked binary resolved the problem.

Thanks, @rpwoodbu. As already mentioned: you rock! :-)

[2015-05-31 18:49] rpwoodbu commented on #90
As I haven't heard of any more crash bugs with the dev release, I have pushed this to prod as v0.2.11. I took care not to rebuild the binaries, but just bump the version number (which is in the manifest.json, not in the binaries). Please test on ARM and report both successes and (especially) failures.

I am keeping this bug open until there's a resolution upstream with the `pnacl-translate` tool.

[2015-06-01 20:23] kronn commented on #90
I have now mosh 0.2.12.91 and it runs crash-free, just as mosh-dev 0.2.11.90.

Chrome 42.0.2311.153
On an Samsung ARM-based Chromebook.

[2015-06-03 07:23] snarlysodboxer commented on #90
Fixed for me!

[2015-06-16 12:05] scplay commented on #55
I can use  Rsa private key login in Putty successfully ,so I think my ssh config was right, But just copy id_rsa to mosh it fail ......................Hell Finally I get it. My User Name in Mosh was set wrong, I used to think that was just a nickname,But the UserName was the name that I want to login

[2015-06-22 07:18] CryptoX opened #96 "Improve "resolution failed -110" error message"
Mosh v. 0.2.12.91

I can Mosh from linux box to another box but NaCle version crashes with this error "resolution failed -110"

[2015-06-22 18:28] rpwoodbu commented on #96
I need to improve that error message. That simply means the name could not be resolved to an IPv4 address. Be sure that the name is spelled correctly, and is fully specified.

I'm keeping this bug open to make the error message more meaningful, as you're not the first to hit this.

[2015-06-22 23:19] CryptoX commented on #96
Thanks, I have resolved the problem, misspelling was the problem indeed. An error message like "Your host is not reachable , please check your hosname/user name" might be better than current error message.

[2015-06-24 12:24] rrcollier commented on #90
Yup, fixed for me also, thanks!

[2015-06-24 15:53] zombiezen commented on #90
Works for me

[2015-06-24 23:10] purebred916 commented on #60
Thank you for the advise

[2015-07-11 21:06] agriffis commented on #68
Did this actually change anything? It seems to me that mosh would also need support for interpreting the 24-bit ANSI color escape sequences in order for this to actually work.

[2015-07-12 00:12] rpwoodbu commented on #68
@agriffis Probably not. Check at http://mosh.mit.edu to see if they've added 24-bit color since the last release. They're working on a new major release now, which I hope to get into Mosh for Chrome soon after it is ready.

[2015-07-13 11:47] agriffis commented on #68
I added https://github.com/keithw/mosh/issues/649

[2015-07-15 01:25] oittaa commented on #75
Any news on this since libssh 0.7.1 has been released?
From 0.7.0 changelog:
* Added SHA2 algorithms for HMAC

[2015-07-15 02:07] rpwoodbu commented on #75
Thanks for the update. We'll need to get this updated in naclports first. If someone wants go make that happen, that would be great. But I have a few bigger fish to fry at the moment.

[2015-07-22 10:24] yacoob opened #97 "Can't use C--"
Looks like Mosh's terminal is intercepting C-- and C-+ for font size adjustment. Is there a way to decouple those, and have those sent to the remote terminal? I'm using C-- as tmux prefix. :)

[2015-07-23 03:40] rpwoodbu commented on #97
This would be a function of the underlying `hterm`. See the [Mosh for Chrome FAQ](https://github.com/rpwoodbu/mosh-chrome/wiki/FAQ) about how to fiddle with the terminal behavior. I did look briefly at the `hterm` FAQ (linked from the aforementioned FAQ), and there's some discussion about the zoom behavior.

[2015-07-23 03:40] #97 closed

[2015-07-27 04:24] rpwoodbu commented on #66
This should work as of SHA 89ac2b2b8f4809335ca1a1700902d6142f55080e (update to upstream mosh 1.2.5). This should be going out to the dev channel this evening. Please mention on this issue if it does not work.

[2015-07-27 04:24] #66 closed

[2015-07-27 04:29] rpwoodbu commented on #40
At long last, there has been an upstream mosh release, which was brought in by SHA 89ac2b2b8f4809335ca1a1700902d6142f55080e. This should add the mouse support you (@shirro) mentioned. I do not know if it adds the osc52 thing. Let me know if it does, and I can close this out.

[2015-07-27 06:02] #79 closed

[2015-07-27 06:02] #96 closed

[2015-07-27 06:12] rpwoodbu commented on #60
Fixed in SHA c25e02fcb77db8f4f3255aa8d03fa2f9108eef42.

[2015-07-27 06:12] #60 closed

[2015-07-27 22:05] sunaku commented on #40
@rpwoodbu Thanks! Under initial tests, the new mosh 1.2.5 seems to have fixed OSC-52.  :+1:

I need to test this on other machines though. I'll reply in (hopefully) a few days with an answer.

[2015-07-28 13:31] geofft opened #98 ""mosh: sendto: I/O error" in current Mosh (dev)"
On current Chrome stable (44.0.2403.107) for Windows 8.1, the dev version of Mosh on the web store (version 0.2.12.137) can't send any UDP traffic. The overlay bar displays "mosh: sendto: I/O error" and then gives up after a bit without making contact.

The regular version of the Mosh app (0.2.12.91) works fine.

This started happening after I rebooted my computer. I had a pending Chrome update, b

[2015-07-28 16:59] cgull commented on #98
More info (from IRC conversation):

This also happens to me on OS X, Version 44.0.2403.107 (64-bit)
So, not just a Windows thing.

It fails to a host with IPv4, but IPv6 to the same host works fine.

[2015-07-28 17:08] cgull commented on #40
That's interesting.  We definitely did not add support for OSC-52 in mosh.

It's a non-trivial feature request; it's another variation of the "but I want this reliable byte stream" problem.

[2015-07-28 17:22] cgull commented on #97
Ctrl-Shift-dash works for me on a stock configuration, at least on OS X.

[2015-07-28 21:00] rpwoodbu commented on #98
Is this 100% repeatable? Does it happen for some hosts and not others? I've only tested on Chrome OS and Linux, so maybe I need to do a bit more testing.

[2015-07-28 21:31] cgull commented on #98
I just tried this on an Win8.1 VM and a completely different set of hosts (IPv4 only).  mosh-dev fails and mosh works.

[2015-07-28 22:27] rpwoodbu commented on #98
Thanks for the sleuthing. I will try to repro this evening. Did you happen to look in the JS console to see if there were any log messages?

[2015-07-29 01:38] rpwoodbu commented on #98
From the JS console on a Windows machine (h/t @jpwoodbu):

    NativeUDP::Send(): socket_->SendTo() failed with -2

Interesting. Digging in now.

[2015-07-29 01:44] rpwoodbu commented on #98
-2 is the Pepper API error [PP_ERROR_FAILED](https://developer.chrome.com/native-client/pepper_dev/c/group___enums.html#gga06fc87d81c62e9abb8790b6e5713c55ba06a8964482e41bf50c45c0d9dd281830). Quote from the docs:

Well, that's helpful. :-/  The digging continues.

[2015-07-29 03:19] #98 closed

[2015-07-29 03:39] rpwoodbu commented on #98
Thanks to all who are running the dev track and contributed to this bug (especially @geofft for the initial report). This is exactly why I created a dev track. A new build is rolling out to dev now.

[2015-07-29 17:33] sunaku commented on #40
@cgull you're right :disappointed:, I finally got to test mosh 1.2.5 on a remote server and OSC-52 doesn't work.  :sweat: What happened in my initial (localhost) test was that [my yank script](https://sunaku.github.io/tmux-yank-osc52.html) _also_ used X11 to copy text into my system clipboard, as a fallback, creating the illusion that mosh was actually passing OSC-52 through. :sweat_smile:

[2015-07-29 20:11] rpwoodbu commented on #40
Realizing from @cgull's comment that this requires a non-trivial enhancement to the upstream mosh which isn't likely coming anytime soon, I'm going to close this for now. Please ping this when/if this becomes available upstream, and I'll reopen.

[2015-07-29 20:11] #40 closed

[2015-07-29 20:46] geofft commented on #98
I can confirm that 0.2.12.142 fixes the problem. Thanks for the quick response!

[2015-08-12 11:08] KaptenJansson opened #99 "Mosh server command in the extension"
I'm wondering what commands I can actually use in the Mosh server command field in the Mosh Chrome extension. `-p 60001` does not work (I want to tell the server which port to use but I guess I have to do that when starting mosh on the server?)

[2015-08-12 11:19] KaptenJansson commented on #99
Ow I see, I have to enter `mosh -p 60001` but then what? Hostname of the server does not work?

[2015-08-12 11:25] KaptenJansson commented on #99
To give more context:

I want only to open up 5 ports to the internet. I want to be able to connect locally as well as via the internet. When I connect from the internet I want to be able to either tell the mosh extension explicitly or have it do it automatically which port mosh it should use.

Currently I see several stale sessions running on my linux box consuming ports resulting in Mosh using 6

[2015-08-13 06:28] rpwoodbu commented on #99
I realized there was no documentation on how to use the _Mosh server command_ field. I have [rectified that](https://github.com/rpwoodbu/mosh-chrome/wiki/Documentation).

This next bit is about mosh generally, not Mosh for Chrome specifically, but it applies just the same.

When you create a new mosh session, a `mosh-server` is run on the remote machine. This process will persist until it is told

[2015-08-13 06:28] #99 closed

[2015-08-13 06:44] KaptenJansson commented on #99
Thank you for the thorough explanation. Then it makes sense, and yes I use tmux as well. If you could share the script it would be great, as I see that as a potential problem (at least for my current server setup).

[2015-08-25 06:50] d4l3k opened #100 "Missing Mouse Support"
I recently switched to Mosh on my Chromebook and I noticed that I can no longer use my mouse with VIM.
http://vim.wikia.com/wiki/Using_the_mouse_for_Vim_in_an_xterm

The previous SSH app "Secure Shell" that I was using supported clicking in the terminal to change the position of the pointer. It was missing dragging support, but at least it had the basics.
https://chrome.google.com/webstore/detail/

[2015-08-25 15:51] rpwoodbu commented on #100
Ah, you can help test this, then! Please find and install the "Mosh (dev)" app from the web store, and give it a go. Mouse support was added in the recent upstream Mosh release, which is in the dev channel but not yet released to the stable Mosh for Chrome. It also depends on mouse support in the JS terminal emulator, which is the same one used by Secure Shell, so it should be OK, but more testing

[2015-08-26 07:41] d4l3k commented on #100
Awesome! Seems to be working just as well as the Secure Shell extension.

It'd be nice if you could click and drag to resize things in VIM, but basic support is much better than nothing.

Thanks for the quick response!

[2015-08-26 18:15] rpwoodbu commented on #100
Great to hear! Just so I understand: Does the vim resizing you mention work in other terminals? What about if that terminal connects via mosh 1.2.5 (not in Chrome)? Does it work in Secure Shell? I want to understand if it is an issue with hterm or mosh.

[2015-09-01 04:10] rpwoodbu opened #101 "Show which ssh key goes with fingerprint"
When showing the ssh key fingerprint, also show which key it represents (e.g., ECDSA).

[2015-09-01 18:14] rpwoodbu opened #102 "ed25519 signature verification error"
I have one report that libssh 0.7.1 cannot validate ed25519 host keys.

    Loading NaCl module (takes a while the first time after an update).
    [...............]
    Loaded.
    Could not connect via ssh: ed25519 signature verification error

    SSH Login failed.

    Mosh has exited.
    Press "x" to close the window.

This may be a bug in libssh, but I should try to repro just to be sure.

[2015-09-02 05:13] #101 closed

[2015-09-03 02:20] d4l3k commented on #100
I know the Vim resizing works with the xfce4-terminal, but other than that I'm not too sure. Secure shell doesn't support resizing, just changing the cursor location (like Mosh (dev) does now).

I did notice a bug with Mosh (Dev) with mouse input where in vim it would insert gibberish characters instead of moving the cursor. I'd give exact reproduction steps but I'm now getting a different error w

[2015-09-03 04:31] rpwoodbu commented on #100
Uh oh, you're now the second person to report this ed25519 thing. Moving that conversation to Issue #102.

If the vim resizing works in xfce4-terminal while using the command-line mosh, then it sounds like the issue is hterm. That satisfies my curiosity. If you're anxious to get this feature, see if you can convince the hterm/nassh folks to add it. It will then make it into Mosh for Chrome as part

[2015-09-03 04:31] #100 closed

[2015-09-03 04:32] rpwoodbu commented on #102
There's now a second report of this issue, in Issue #100. @d4l3k, are you suggesting that you can connect with ed25519 with the stable Mosh for Chrome, just not the dev version?

[2015-09-03 04:35] rpwoodbu commented on #102
For my reference: It seems like ed25519 was added to libssh in 0.7.0:
https://www.libssh.org/2015/05/11/libssh-0-7-0/

I hypothesize that this key type was skipped in 0.6.0 as it wasn't supported, and now that it is supported, buggy support causes failure.

[2015-09-03 07:25] d4l3k commented on #102
I'm not completely sure what is happening with regards to ed25519. The stable version doesn't throw that error and lets me connect to my server without any problems, however the dev version now throws it. When I first tried out the dev version it was working just fine until a few days ago when it stopped working.

I'm fairly confident that the key I'm using isn't ed25519 but is instead RSA.
[code]

[2015-09-03 15:46] rpwoodbu commented on #102
Thanks for the details, @d4l3k. I updated the dev channel just a few days ago to libssh 0.7.1, which is why the behavior changed recently.

The issue is with the host keys, not your account keys. Look in /etc/ssh to see what keys you have. As a quick experiment, you might try temporarily moving out the ed25519 key file and bouncing sshd, then seeing if you can connect.

I will be experimenting wit

[2015-09-03 17:47] d4l3k commented on #102
Ah. Yeah, there is a ed25519 key.
[code]

Removing ssh_host_ed25519_key* from /etc/ssh fixes the issue for Mosh (dev).

[2015-09-07 21:13] rpwoodbu commented on #102
Upon close observation of the build-time messages, I noticed this at link-time:

    error: ../build/libssh-0.7.1/build/src/libssh.a: multiple definition of 'crypto_sign_ed25519_ref_ge25519_base'

I looked, and indeed libssh.a has that symbol in it twice. I'm a tad surprised that this didn't result in the linker returning a non-zero exit code. I am not sure if the problem is with libssh or with th

[2015-09-07 21:20] #102 closed

[2015-09-07 21:29] rpwoodbu opened #103 "Support ed25519 host keys"
libssh 0.7.0 added support for ed25519 ssh host keys. However, when updating libssh, it was discovered (and reported in Issue #102) that there was a problem verifying such keys. As a workaround, I'm skipping ed25519 host keys (SHA 0f2d3a1).

Some time should be spent to understand the problem and reintroduce support for this host key type. It is unclear if this is a libssh problem, or a problem wi

[2015-09-27 18:26] computersarecool opened #104 "Can we make Mosh for Chrome completely full screen (i.e. hide everything else)"
I must say, this is an incredible app and I love it very much.

I am wondering if it would be possible to make this takeover my entire screen so that I do not see any of the system tray or menu bars.

I found [this link] (http://stackoverflow.com/questions/15451888/how-can-i-make-a-chrome-packaged-app-which-runs-in-fullscreen-at-startup) which makes it sounds not very difficult, but I just wasn't

[2015-09-27 23:06] computersarecool commented on #78
+1 This would be so nice.

[2015-09-27 23:15] computersarecool opened #105 "SSH-Key still asking for password once removed?"
I recently ran

`ssh-keygen -p [-P old_passphrase] [-N new_passphrase] [-f keyfile]` to remove the passphrase from my ssh key.  I then removed the key from Mosh Chrome, uninstalled Mosh Chrome and then reinstalled mosh Chome.

Upon logging into my server again, I am still asked for the passphrase for my ssh key each time.  Entering in the old passphrase logs me in.

I am not asked for a passphrase

[2015-09-27 23:55] computersarecool opened #106 "Be able to restart a session?"
When something happens, like if we sign out of `tmux` or something, frequently you get:

`Mosh has exited. Press "x" to close the window.`

Would it be possible to add an option to start a new mosh session?

[2015-09-28 02:15] rpwoodbu commented on #105
If what you said is precise and accurate, then Mosh for Chrome should not have your ssh key at all anymore, as you removed it without putting one back. Are you sure it isn't asking for your ssh login password?

[2015-09-28 02:16] rpwoodbu commented on #106
Please see Issue #6.

[2015-09-28 02:18] rpwoodbu commented on #106
At first I misunderstood what you meant, but I think you would just like something similar to:

    Mosh has exited. Press "r" to reconnect, or "x" to close the window.

Is that correct?

[2015-09-28 04:48] computersarecool commented on #105
It was indeed, I am sorry for the false alarm.

[2015-09-28 04:48] #105 closed

[2015-09-28 05:07] computersarecool commented on #106
Yes, that is exactly what I meant. It would be a great feature to have. In secure shell this option appears most of the time when you exit a connection I believe.

[2015-09-28 05:39] rpwoodbu commented on #106
Indeed, Secure Shell is where I got the inspiration for the "x". I never put in "r" since an unintended disconnection almost never happens with mosh, compared to ssh where it happens constantly.

That said, I'm not averse to it, and it should be easy to do. It just isn't something I need, so I'll probably only get around to it next time I have go delve into the JS for some other reason.

This woul

[2015-09-28 06:00] computersarecool commented on #106
Sounds good to me. And yes, I wouldn't make it a high priority for the reasons you mentioned.  Maybe I will take a look at the source. If you say its manageable maybe I can contribute. Thanks for your input and for Mosh Chrome.

[2015-09-29 07:06] rpwoodbu commented on #104
Usually there's a platform-specific way to make any app run full-screen. On Chrome OS, there's a full screen button (where F4 would be), and it works with Mosh for Chrome. I'd expect other platforms to have similar facilities IIRC, F11 is popular for this in Linux. My distant memory is that Windows likes Alt-Enter, but maybe that was just for video games. :) I think I learned once that the Mac has

[2015-09-29 07:06] #104 closed

[2015-10-07 04:19] computersarecool opened #107 "Mosh-Chrome does not disconnect when session closed?"
This may not be a problem with the extension so forgive me if I am missing something.

However, when I run `who`, each time I close a mosh window and reconnect I see that another user, with another PID, is listed as logged into my machine as opposed to the same user.

Is this what is supposed to happen?

[2015-10-07 07:19] keithw commented on #107
What version of `mosh-server` is installed on the server?

Does the problem still happen if you "exit" the session explicitly from within it, instead of just closing the mosh window?

[2015-10-07 08:19] computersarecool commented on #107
Ryning mosh -v returns `1.2.5`

I realized now that "exiting" the sessions explicityly from within it instead of just closing the mosh window does indeed fix the problem.  Is the best practice to just try to do this?  I am not sure if having these other sessions around is even problematic (perhaps you can advise?)

Also, I just noticed that you wrote mosh. Thank you, I find it awesome.

[2015-10-07 08:27] keithw commented on #107
Thanks! Could you please try running `mosh-server` on the server? That will give you the version number of the server.

[2015-10-07 08:35] computersarecool commented on #107
Here is the output of that:

`mosh-server (mosh 1.2.5) [build mosh 1.2.5]`

Also, not sure if this has anything to do with it, not sure how it could, but I am running tmux and connect to tmux each time a mosh session is started.

[2015-10-07 18:46] rpwoodbu commented on #107
Bad behavior when closing the window directly (i.e., via the "X" button) is a long-standing problem with Mosh for Chrome; see Issue #5. One point I didn't quite make in that issue (I will update it) is that the NaCl process is killed forcibly, without giving it a chance to signal to the server that the session should be torn down.

The workaround is just to be sure to close the session naturally (

[2015-10-07 18:46] #107 closed

[2015-10-07 18:52] rpwoodbu commented on #5
Although I knew this (but didn't say it explicitly in this issue), it was pointed out in Issue #107 that closing the window forcibly closes NaCl, preventing it from signaling the server that the session should be torn down. This may be surprising to users.

I (or someone) should revisit the assertion I made about Option 2 being a non-starter; this would be very easily solved if I could capture the

[2015-10-07 21:24] computersarecool commented on #107
Sorry I missed that thread. Thanks for your clear explanation and addressing my questions - most excellent. I will follow #5 Thanks!

[2015-10-12 00:27] ruthlesssinner opened #108 "Scroll preference setting"
Wonderful app. Just what was needed on Windows.
Scroll back seems to be disabled and I cant find the preference setting for enabling it as well as the number of lines to store.

[2015-10-12 03:25] rpwoodbu commented on #108
Mosh doesn't currently have scrollback support. Please see the [mosh FAQ](https://mosh.mit.edu/#faq) and search the page for "scrollback". tl;dr: Use mosh with tmux or screen to get scrollback capability.

[2015-10-12 03:25] #108 closed

[2015-10-30 21:07] chrismgray opened #109 "Sending Alt-Enter does not work"
I use emacs org-mode and Alt-Enter (and Shift-Alt-Enter) are fairly important key chords.  Neither works in the chrome app.

[2015-10-31 04:19] rpwoodbu commented on #109
I believe I am able to repro this. Best I can tell, this is a problem with both Mosh for Chrome and Secure Shell (which both use hterm as their terminal emulators), and it affects both Chrome OS and Linux (Ubuntu w/Cinnamon). However, I do seem to be able to send Alt-Enter via Chrome Remote Desktop, so it _is_ possible to capture that key. I don't have any program that I know uses Alt-Enter, so it

[2015-11-13 02:11] sasnfbi1234 opened #110 "Mosh client hangs on loading NaCl module"
I am on Ubuntu running chrome 45.

it just sits there

[2015-11-13 02:36] keithw commented on #110
Are we talking `chromium-browser` here, or Google Chrome from Google. My understanding is that Ubuntu's `chromium-browser` just doesn't have NaCl.

[2015-11-13 12:34] rpwoodbu commented on #110
Oh, if that's true, I should do something to detect that and display a useful message.

[2015-12-05 01:56] fortran77 commented on #106
A reconnect option would be useful because (in the case of the Chrome OS client, which does not seem to have any way of consulting an authentication agent) it would avoid the need to retype one's private key.

[2015-12-05 05:24] rpwoodbu commented on #106
@fortran77 For security reasons, the app throws away the private key as soon as it is done with it, so it isn't as simple as it would seem to offer a challenge-less reconnect.

However, Mosh for Chrome can actually talk to a special non-public SSH agent app. It uses the same protocol as was [implemented](https://groups.google.com/a/chromium.org/forum/#!msg/chromium-hterm/iq-AuvRJsYw/QVJdCw2wSM0J)

[2015-12-05 09:08] fortran77 commented on #106
1. If it ever became possible for multiple mosh client window processes to communicate with one another via messages or shared memory, then the first window opened could retain the private key in memory, and act as the authentication agent for subsequently-opened windows. Then only the first window would need to keep the key in memory, which would be more secure than each one keeping the key in me

[2015-12-05 17:31] rpwoodbu commented on #106
Leaving the key in the memory of any window is a security risk. Limiting to one particular window doesn't really help.

As I said, there's already a mechanism to communicate with an external agent app. That's the way to do this. Let the user decide the level of security by choosing an agent app that has the desired properties.

Maybe an easy first step would be for someone to write an app that jus

[2015-12-30 07:12] tnguyen14 opened #111 "issue with 256 colors"
I followed the instructions on the Secure Shell FAQ page to set up the right terminal, but I don't think I have 256 colors configured/ working right.

Running the color test here https://github.com/chriskempson/base16-shell#troubleshooting, I see all the dark blue colors.

Running `ls -al` on a directory does not print out colors and bolds the way it's supposed to.

I am not sure what I might be d

[2016-01-08 09:01] computersarecool commented on #99
@rpwoodbu I would be curious in your `mosh-named-server` script.  Is it available anywhere?

[2016-01-12 16:59] necopinus opened #113 "Cannot Load External Stylesheets When Running on ChromeOS"
Trying to set an external stylesheet via the `user-css` preference doesn't work. For example, attempting to use the "Hack" font results in:
[code]
Interestingly, this issue is _only_ present under Chrome OS for me -- using the same stylesheet but via Chrome on Mac OS X works fine.

Setting the style sheet works on Chrome Secure Shell under both Mac OS X _and_ Chrome OS.

FWIW, I'm pretty sure this

[2016-01-15 17:33] gsf opened #114 "CVE-2016-0777 vulnerability"
Is mosh-chrome vulnerable to [CVE-2016-0777](http://undeadly.org/cgi?action=article&sid=20160114142733)? I've dug around for the version of openssh depended upon, but can't locate it, and the only related discussion I've found is here:
https://news.ycombinator.com/item?id=10901849

If it is an issue, what's the best way to signify "UseRoaming no" until the underlying openssh is updated?

[2016-01-15 17:40] rpwoodbu commented on #114
Mosh for Chrome doesn't use OpenSSH. It uses [libssh](https://www.libssh.org/). I do not think this vulnerability affects Mosh for Chrome. Thanks for taking the time to bring it to my attention, though.

[2016-01-15 17:40] #114 closed

[2016-01-15 17:42] rpwoodbu commented on #114
Note that the upstream mosh does use OpenSSL, but IIUC this vulnerability is specific to OpenSSH.

[2016-01-15 17:46] gsf commented on #114
That's great. Thanks for providing clarity on the matter.

[2016-01-15 18:11] skyem123 opened #115 "The Alt-Gr modifier works inconsistently."
For example, on my UK keyboard, I can type `¦` (on the ``` ` ```/`¬` key), but not `€` (on the `4`/`$` key).

[2016-01-15 18:13] rpwoodbu commented on #115
Can you repro on the [Secure Shell](https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo) app? This seems like a terminal emulation thing, and we both use the same `hterm` emulator.

[2016-01-15 18:17] Achati commented on #115
alt- gr + '+' should make a ~ on german keyboard, instead it behaves like ctrl + '+'
same with - (zoom in and out ?)
it behaves differently on the number row (which is used with alt-gr  to type { [ ] } \ )
i havent used mosh before so cant really tell whats going on, trying to reproduce it with secure shell next

[2016-01-15 18:18] skyem123 commented on #115
@rpwoodbu, I do not have this issue on the secure shell app that you linked.

[2016-01-15 18:24] Achati commented on #115
same issues on the Secure shell app
although.. 789 work (for {[] )
0 and ß dont (should give }\ )
+ and - also zoom in and out
my keyboard layout is german.. and we are testing on the same raspberry pi from different clients/computers

[2016-01-15 18:29] Achati commented on #115
also tested using the mosh plugin in mobaXterm (free version) (after some issues with not resolvbing the ip correctly)
altgr key combos work fine there

[2016-01-15 18:31] rpwoodbu commented on #115
This is a bit confusing to me. Seems like these reports conflict somewhat, but if I read you right, @Achati, you're saying that there is a difference in behavior, but neither is perfect. So I'm thinking that maybe at least part of this issue has been fixed in the upstream `hterm`. Unfortunately, as I only have a US keyboard, it is difficult for me to test (or really to understand). If someone can

[2016-01-15 18:33] skyem123 commented on #115
I just tested mosh from a linux based client, it does not have this issue, so I guess this is not a problem in mosh itself.

[2016-01-15 18:34] Achati commented on #115
it seems like any key that is used in combination with ctrl will act as ctrl key combo when used with altgr (in secure-shell) its also unable to type @ or €
its worse in mosh-chrome since 789 are probably linked to ctrl combinations as well
well thats my guess..

[2016-01-15 18:42] Achati commented on #115
this might be the issue.. it describes the same behaviour i have experienced: https://groups.google.com/a/chromium.org/forum/#!topic/chromium-hterm/BQdhTAyaoGk

[2016-01-15 20:13] skyem123 commented on #115
Sadly, I cannot build this with my computer, as I do not have any access to a Linux computer that I can compile with.

[2016-01-20 17:27] ipopov commented on #29
Howdy, Richard, I'm curious: judging by https://developer.chrome.com/extensions/storage#using-sync, it seems that it would be sufficient to s/local/sync/ in 7f0d52b6de9f2075bae260d1b1cea7cae8453174 and get syncing across browsers for free. Is this correct / should we try it?

Additionally, regarding the warning "Confidential user information should not be stored! The storage area isn't encrypted."

[2016-01-20 19:42] rpwoodbu commented on #29
Thanks, @ipopov, for your interest and effort. I actually do use "sync" for SSH fingerprints. I purposefully use "local" for the connection details. It isn't because I deem it too sensitive; in fact, I expect to use "sync" when/if we get some sort of an address book feature. But what we have now just remembers the details of the last connection. I don't think that's appropriate to sync to other cl

[2016-01-20 19:47] ipopov commented on #29
Ah, that is a neat trick for garbage collection! Okay, I understand, thank you. The address book feature sounds like a great idea, but I appreciate that it'll be more work than s/local/sync. ;)

[2016-02-02 13:52] wiz commented on #113
Is there a possible fix?

[2016-02-02 21:14] rpwoodbu commented on #113
Sorry, folks, I've been stupid busy and haven't been able to give Mosh for Chrome much attention. My initial guess is that this isn't allowed for Packaged Apps (as per #51, which @necopinus pointed out). Secure Shell is not a Packaged App. Mosh for Chrome must be to get access to the APIs necessary to do UDP (or at least that was the case when I started the project; I haven't looked to see if anyt

[2016-02-02 21:14] #113 closed

[2016-02-03 09:03] wiz commented on #113
Take a look https://developer.chrome.com/extensions/contentSecurityPolicy

You can allow `https:` for styles and fonts, maybe images...

[2016-02-03 09:04] wiz commented on #51
Take a look https://developer.chrome.com/extensions/contentSecurityPolicy

You can allow `https:` for styles and fonts, maybe images...

[2016-02-18 22:31] cgull opened #116 "hterm FAQ link stale"
In https://github.com/rpwoodbu/mosh-chrome/wiki/Documentation, there's a link to the hterm FAQ.  It's 404, er, 410.  Another link in the mosh-chrome FAQ is OK.

[2016-02-19 07:04] rpwoodbu commented on #116
Fixed. Thanks for the report!

[2016-02-19 07:04] #116 closed

[2016-02-23 09:05] T-101 opened #117 "Make urls clickable"
I use mosh for irc, and as you may know, a lot of urls are shared there. Would be awesome to make them clickable and have them open in chrome itself. Hense this feature request.

I played around in regex and found that this would work nicely for catching urls:
/\s(.*:\/\/([^\s]+))/

[2016-02-23 20:08] rpwoodbu commented on #117
Duplicate of #52.

[2016-02-23 20:08] #117 closed

[2016-02-23 23:31] T-101 commented on #52
Sorry for the dupe. Anyhow, any progress on this since June 2014? :)

[2016-02-24 04:18] rpwoodbu commented on #52
That issue is closed because this is an upstream issue with hterm. Check with hterm to see if any progress has been made. Feel free to reopen #117 if hterm commits a change which enables this, and I'll rebuild the app with the new hterm..

[2016-03-11 00:47] computersarecool commented on #106
Thank you for this information.

[2016-03-11 03:33] rpwoodbu commented on #106
This issue is still valid! It got a little off-topic, though. It is entirely reasonable to add a reconnect key. Again, pull requests are welcome!

[2016-03-13 02:37] colemickens opened #118 "Make the "zoom != 100%" hideable"
This appears even when the resolution is set to a non-native resolution, meaning that it's basically a useless nuisance warning for those of us on Chromebook Pixels.

Further, I crafted some user css that hides the warning when it's inserted with Developer Tools, but it has zero effect when applied via the mosh preferences.

[2016-03-13 04:47] rpwoodbu commented on #118
Under what circumstances does this show? I use Ctrl-{Minus,Equals,Zero} to alter the "zoom" all the time, but never see what you're talking about. I am using a Chromebook Pixel in a non-native resolution. I even tried changing the default page zoom setting, but still aren't seeing what you're talking about.

[2016-03-13 21:53] colemickens commented on #118
I can't seem to get the Ctrl+{minus,equal,zero} to ever do anything when mosh has focus. It seems to intercept those keys because they never get to the browser.

All I know is... when I hit Ctrl+Shift+minus a few times, my display is set to 0-scaling, and displays at the full native resolution. This is the *only* way I have made the warning go away.

I feel that I'm doing it wrong, but I have no i

[2016-03-13 22:12] rpwoodbu commented on #118
Hmm, this is very strange. This is not at all like my experience. Mosh for Chrome uses the same terminal emulator, hterm, as the Secure Shell app. You might try reproducing your experience with that app. If it is the same, you know that it isn't Mosh-specific. If it is different, well, that'll be interesting indeed. Can you also check what version of the app you have installed? At this point it sh

[2016-03-13 22:56] colemickens commented on #118
I just installed the app a few days ago. Mosh (dev) 0.2.12.257 and Mosh 0.3.0.258 both display this behavior.

Secure Shell also displays the same behavior, except that with Secure Shell, I can ctrl+{plus,minus}. But, I have to set the page zoom to ~50% (which offsets the display scaling and makes it the tiny native resolution effectively) to get that warning to go away.

Again, with Mosh, I can't

[2016-03-13 22:56] colemickens commented on #118
[code]

[2016-03-14 00:31] rpwoodbu commented on #118
Ah, you're running the dev channel of Chrome OS. Interesting. I have a machine setup with that, so I'll test there. But I'm away on business and won't have a chance to check it out until this coming weekend at the earliest. Hang in there!

[2016-04-04 08:38] computersarecool opened #119 "Documentation of preferences?"
Hi,
There are some great preferences that allow customization of the shell, however, I can not find any documentation for what they do here or on the Chrome Secure Shell project page.

I greatly appreciate the amount of documentation that is available right now, however is there a place where all the options and how to use them (such as `character-map-overrides`) is documented?

[2016-04-05 03:50] rpwoodbu commented on #119
There are a number of hints on the Secure Shell [FAQ](https://goo.gl/muppJj), but I'm not seeing anything for `character-map-overrides`.

I realize that the Mosh for Chrome FAQ wasn't updated once the Preferences feature was added, so it still says to open the JS console. That needs to be fixed. Also, some of the links in there to Secure Shell docs are broken, contributing to the problem.

Unless

[2016-04-05 05:21] computersarecool commented on #119
I get you here.  For the record, the FAQ that you made which references the JS console was / is quite helpful.  As you point out, the other docs don't even tell you how to get to the console at all.  Does editing from the console (something I only looked into and never got that far) still work?

Time permitting I would like to help tweak the docs but, as you mention, not even the secure shell proj

[2016-04-05 17:32] rpwoodbu commented on #119
The JS instructions still work, but are no longer necessary. This is what was suggesting needs to be improved. The docs should just point out that there's a Preferences option, and to check out Secure Shell's FAQ for hints as to what it all does. We shouldn't even copy info from their doc into ours, as it is likely to diverge.

[2016-04-06 19:29] magical opened #120 "Can't configure mosh ports"
I've been using a non-standard port range for mosh on one of my servers (60100-60199 instead of 60000-60099). To connect with the command-line version of mosh, i simply run `mosh -p 60100:60199 server`; however, mosh-chrome does not seem to have any way to configure the port range. (You can give a port when connecting in manual mode, but that's not really the same.)

[2016-04-06 20:01] rpwoodbu commented on #120
Yeah, this would be a good enhancement. You can get the effect by specifying the Mosh server command, like so: `/usr/bin/mosh-server -p 60100:60199`

You may find you need to add other options when doing it that way, though, as there are some defaults around localization and whatnot that will get omitted. All the more reason that this should be offered in a more straightforward manner.

[2016-04-06 20:15] magical commented on #120
Aha, thanks. I didn't realize it was just passed along to the server like that. That'll work for now.

Here's the server command i ended up using, for anyone with the same problem: `/usr/bin/mosh-server new -s -c 256 -p 60100:60199 -l LANG=en_US.UTF-8`

[2016-04-09 20:32] colemickens commented on #118
Just updated and this has gone away now.

[2016-04-09 20:34] #118 closed

[2016-04-23 16:17] boarpig commented on #29
Assuming there was a way to save multiple connection profiles for later use, would it be possible to mark certain profiles to be synced and additionally have a checkbox for "sync all"?

[2016-04-23 17:24] rpwoodbu commented on #29
@boarpig that would be _possible_, but that's not quite the UX I'm going for. If we got multiple profiles working, I would simply add an ability to have a locally settable parameter that could be referenced in the sync'd configuration. I'm not sure there's a broader use case for local-only connection profiles.

[2016-05-08 08:03] frizop commented on #111
I've had decent luck just launching a terminal that was already doing 256-colors [http://imgur.com/4UGI1Ip](here)

[2016-06-28 16:23] jgallen23 commented on #51
any update on this one? I'd love to be able to pull in some fonts from google fonts

[2016-06-28 23:19] colemickens opened #121 "Support web fonts (via user-html similar to user-css)?"
I've reverted back to stable and turned off developer mode. As a result, I don't think I have any avenues for using a custom font with mosh (other than re-activating dev mode).

With web fonts I could insert this html:

[code]

and then use the font normally.

Would you support "user-html" the same as you support "user-css" today?

[2016-06-28 23:24] rpwoodbu commented on #121
The terminal emulator is `hterm`, and that `user-css` setting comes from there. Does `hterm` support `user-html`? If so, I'll accept a pull request to add that to the configuration.

[2016-06-28 23:29] rpwoodbu commented on #51
Pull requests welcome. I don't have time to work on any features that I don't personally need. Sorry, but that's the reality.

Also, it should be noted that I may need to change this from a Packaged App to just a regular app (similar to Secure Shell), which may simplify this (see my original comment). I had originally made it a Packaged App to get access to UDP. But Packaged Apps are only going to

[2016-06-28 23:30] colemickens commented on #121
No. Interestingly, it seems that user-css is supposed to be a link to a CSS file, rather than inline CSS. https://github.com/chromium/hterm/blob/23300c0308d9e4ea9bd784807a4e40b1fb1ac69e/js/hterm_scrollport.js#L437

Not the impression I had gotten from the way it's shown in the Preferences dialog.

I might try to add it to hterm and then revisit it here. I'll close this for now. Thanks @rpwoodbu

[2016-06-28 23:31] rpwoodbu commented on #121
Yeah, getting it in `hterm` is definitely the way to go. I'll be more than happy to upgrade to a new `hterm` once it is upstream. Thanks for driving this; I suspect this'll help some others, too.

[2016-06-28 23:33] rpwoodbu commented on #51
Also, see Issue #121, which may be related.

[2016-06-30 03:57] colemickens commented on #121
I experimented with this and ran into issues. Just using the inspector I tried injecting the relevant html but it violates cross origin policies. Probably abandoning this for now. `Cousine` isn't so bad.

[2016-06-30 05:00] rpwoodbu commented on #121
I just did a little digging. It would seem that this actually should be done with the user-css field, and shouldn't require user-html. E.g., you could get one of the monospace Google Fonts by putting this into user-css

    https://fonts.googleapis.com/css?family=VT323

... and putting this into font-family:

    'VT323', monospace

This works in the Secure Shell app (for which hterm was written).

[2016-07-18 11:55] mdlui opened #123 "Blurry text in mosh terminal"
I'm on Windows 10, Chrome 51.0.2704.106.

Relevant mosh preferences
[code]
On the mosh terminal, text is much blurrier than in a normal text area.

**I attached an example, with a jsfiddle example on top, and mosh on the bottom**. JSfiddle font style options were the same as for the mosh terminal, afaik.
[code]

![mosh_hterm_blurry](https://cloud.githubusercontent.com/assets/9659800/16913631/d4ba2

[2016-07-18 17:45] rpwoodbu commented on #110
I haven't heard of this since, so I'm going to close. Please update if there's more information to bring to bear.

[2016-07-18 17:45] #110 closed

[2016-07-18 17:49] rpwoodbu commented on #93
I've observed that it takes a _really_ long time for the app to update on its own, even after it is closed. This is a very bad UX. I should detect when all sessions are closed, and automatically call chrome.runtime.reload(); no need to have the user take an action beyond just closing the sessions.

[2016-07-22 18:50] scottj97 commented on #78
Why don't ssh agents work through mosh? I think this should be mentioned in the wiki on Key-based SSH Auth. I looked all over for how to make it work.

[2016-07-22 23:22] rpwoodbu commented on #78
I think I explained why pretty well in this issue. I'm amenable to making this clear in the wiki.

[2016-07-23 00:06] scottj97 commented on #78
Forgive me for being blind but I just reread this issue and I don't see any explanation of why ssh agents don't work, only an explanation of why caching the decrypted key would be difficult. The only mention of agents is in the first clause "Although ssh agents don't work...".

Perhaps I should file it as a separate feature request? I'm running Win10 with Pageant for PuTTY and it would be nice if

[2016-07-23 04:56] rpwoodbu commented on #78
Ah, sorry for the confusion. I was talking about why implementing one in Mosh for Chrome is difficult, when you're asking about why Mosh for Chrome can't use an agent the system already has.

The short answer is: It can, but it needs help.

Being a Chrome App, chatting with a program outside of the browser and not available over the network is tricky, but AIUI not impossible. I don't want to compl

[2016-07-23 05:02] rpwoodbu commented on #78
@scottj97 I've added an entry to the wiki, inspired by your suggestion, salted to taste. :)

[2016-07-23 05:17] scottj97 commented on #78
Perhaps I'm out of my league here, but wouldn't a Chrome ssh-agent app have the same problems caching the decrypted key as Mosh itself would have? Or if it was only an agent forwarder app, wouldn't it have the same problems chatting with an agent outside of the browser? I'm not understanding how making a separate Chrome app would solve any problem that can't be solved directly in Mosh-chrome.

[2016-07-23 05:19] scottj97 commented on #78
Let me (attempt to) answer my own question: you don't want to complicate mosh-chrome with that. I get it.

[2016-07-23 19:06] rpwoodbu commented on #78
@scottj97 Yeah, that's basically it. I've already created the facility to communicate with an external agent, so let's use that. An external agent is a better design since it would also allow other apps (like Secure Shell) to use it. But you're right: all of the difficulties of making a workable and secure agent app, which I've described in this issue, remain. It clearly isn't impossible, but it w

[2016-07-24 06:01] rpwoodbu commented on #78
@scottj97 I decided to spend a little more time researching this (you seem to have piqued my interest). You indicated earlier that what you really want is for Mosh for Chrome to reach out to your PuTTY agent in Windows. That is indeed best for platforms != Chrome OS. Gaining access to some random program running on your local system is tricky, and for good security reasons. But it is possible.

Se

[2016-07-25 06:59] rpwoodbu commented on #78
I threw together a proof-of-concept Native Messaging app that indeed allows Mosh for Chrome to access the local `ssh-agent`. It wasn't hard at all. Even though Linux users have a native mosh app, I'll try to find some time to clean it up, put a bow on it, and publish it on GitHub, at least as a model for how to do such a thing. It would also be the place to put a NaCl-ified `ssh-agent`, making thi

[2016-07-25 17:55] scottj97 commented on #78
I much appreciate all your work towards this. All I was asking for was an FAQ entry since I'd spent so long trying to figure out how to make it work. :)

[2016-07-25 19:33] rpwoodbu commented on #123
Do you mind taking the time to repro this in [Secure Shell](https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo)? If it happens there, too, then the issue is likely with hterm, the JS terminal emulator that both projects use.

[2016-08-11 22:47] neocryptek commented on #90
Just updated my Chrome to Version 52.0.2743.116 m (64-bit) on Windows and I get the same problem with Mosh v0.3.0.258. Was working great before updating Chrome.

Mosh says this (doesn't get any further):
[code]

And the stacktrace is:
[code]

[2016-08-12 02:45] rpwoodbu opened #124 "NaCl crashes on Windows in Chrome 52.0.2743.116 m (64-bit)"
As reported by @neocryptek:

Just updated my Chrome to Version 52.0.2743.116 m (64-bit) on Windows and I get the same problem with Mosh v0.3.0.258. Was working great before updating Chrome.

Mosh says this (doesn't get any further):

[code]

And the stacktrace is:

[code]

[2016-08-12 02:46] rpwoodbu commented on #90
@neocryptek Thanks for the report. However, that seems to be a different problem than this bug, which became about an issue involving ARM. I've opened Issue #124 to track your problem. I'll fixup the title of this issue to reduce future confusion.

[2016-08-12 02:59] rpwoodbu commented on #124
Thanks for the report, @neocryptek. I have one report of this working just fine in that precise version of Chrome on Windows 10. So my first thought is that something's weird about your machine. Can you repro this repeatably? Can you repro this on another machine? Does the "Mosh (dev)" app crash, too? What happens if you uninstall and reinstall the app? (I wonder if some bits got clobbered somehow

[2016-08-12 10:43] markybob opened #125 "sync with upstream v1.2.6"
wishlist of syncing to upstream v1.2.6

[2016-08-12 16:28] rpwoodbu commented on #125
Yep, saw the announcement, and plan to do this soon. I already have the RC in "Mosh (dev)", and will push v1.2.6 there soon (probably today). After it has baked there for a bit (a few days, probably), I'll promote dev to stable.

[2016-08-15 21:24] neocryptek commented on #124
I'm on Windows 7. Same stack trace after uninstall and reinstall of the app.

Just installed Mosh (dev) v0.3.5 and it has the same problem (though it doesn't print out anything to the terminal window):
[code]

I did find another windows 7 machine with the same version of Chrome (but 32bit) and I was able to launch Mosh successfully. So it seems likely something is wrong with my machine.

[2016-08-17 06:59] rpwoodbu commented on #125
This is going out to "Most (dev)" now. I'll actually keep this issue open until it hits stable. Issues that folks think they might be having on "Mosh (dev)" due to this update should go here.

[2016-08-18 04:43] rpwoodbu commented on #124
It'd be cool if you could find another Windows 7 machine that is 64-bit. It is disconcerting that this happens on both apps. This could possibly be a Chrome bug (wouldn't be the first NaCl-related crash bug that affected a particular platform I've dealt with). Also, I just released a new version of the dev track, so you might want to try that one one more time. You should also try some other NaCl

[2016-08-19 21:44] dictvm opened #126 "Material Design icon"
The current icon looks rather strange next to all the Material Design icons in Chrome OS which really triggers my OCD. I'd like to see a flat/material design icon, if that's possible. I'd be happy to donate money to designer for such an icon.

![screenshot 2016-08-19 at 23 35 48](https://cloud.githubusercontent.com/assets/883216/17825150/79b9ed8e-6666-11e6-85f3-ab7b90eec398.png)

[2016-08-19 22:33] rpwoodbu commented on #126
I'm happy for suggestions on a new icon. In fact, I'm sure the upstream Mosh project would love some sort of official logo for Mosh. I just found something quickly that kinda seemed appropriate.

I have a friend who is good at these things. I'll ping him and see if he has any quick ideas.

[2016-08-20 05:57] bgiesing opened #127 "Chrome App Migration?"
In case you haven't seen yet @rpwoodbu, Google is discontinuing Chrome apps on every platform except Chrome OS. Any plans for this? Google says devs should convert it to either Progressive Web Apps or native packaging with Electron/NW.js.

https://developers.chrome.com/apps/migration

[2016-08-20 06:59] rpwoodbu commented on #127
I am aware of this (have been for some time), and have given it some consideration. The target for this app is Chrome OS, and Packaged Apps will be supported there "for the foreseeable future". So for Chrome OS users, this is a non-issue.

However, I was surprised to discover that a large contingent of users are on Windows, for which there is no native Mosh solution. This wasn't my target for this

[2016-08-20 07:09] bgiesing commented on #127
@rpwoodbu

Android apps aren't coming to all platforms, their also Chrome OS exclusive as the new way they do it (via Play Store) works by hooking a subsystem and converting kernel calls (like Bash on Windows 10 does) so it is impossible on other platforms. The old method (ARC) uses Chrome apps so that also will no longer work on non-Chrome OS devices.

NW.js (one of the native packaging methods G

[2016-08-20 07:27] rpwoodbu commented on #127
Oh, OK... I guess I wasn't paying close enough attention. Seems odd to me that they're keeping Chrome Apps _and_ adding Android apps just on Chrome OS. :-/

Packaging Mosh for Chrome into a native app is madness. It makes _way_ more sense to get the upstream Mosh building for Windows. I hear that Windows 10 has Linux ABI compatibility or some such, so maybe this isn't all that hard anymore?

[2016-08-20 07:37] keithw commented on #127
We're basically there; see https://github.com/Microsoft/BashOnWindows/issues/170 and https://github.com/mobile-shell/mosh/issues/781.

I haven't used Windows recently, but honestly my sense is that Mosh-for-Chrome-on-Windows is a nicer UX today than native Mosh is likely to be, since you bundle Mosh with a good terminal emulator and you have a nice distribution story (the Chrome App store, etc.) a

[2016-08-20 07:53] bgiesing commented on #127
@rpwoodbu Yeah and even Android apps aren't coming to all Chrome OS devices. I have both the CR-48 and Samsung Chromebook (the original one), neither getting it. Heck you could say that's because how old they are but Google has stated that only "roughly half" of devices in the past 2 years are going to be supported (even the 1st gen Chromebook Pixel by Google itself isn't supported).

As for the n

[2016-08-20 08:40] rpwoodbu commented on #127
@keithw:

Re UX: Well, maybe the bundle is better. But if I were on Windows, I'd be pretty happy to fire up a Bash shell in some sort of xterm-esque thing and type `mosh`. That's the same UX as on *nix, and I don't hear folks complaining.

Re distribution of updates: Unfortunately, that's going away. I'd be producing a true native Windows app that folks would download and install. (At least that's

[2016-08-20 08:49] keithw commented on #127
@rpwoodbu: Agreed that maintaining a whole Chromium+Mosh app for Windows seems like a pain. Of course I'll defer to you on what you think is best. I have filled out the "let us know" form and included a link to this issue.

[2016-08-20 13:01] markybob commented on #127
hell i even use mosh for chrome in linux.  sometimes odd things happen on my end with xfce4-terminal 0.6.3 (debian stretch) where the returned line will be invisible until i hit another key. don't have this problem with mosh for chrome. example:
![screenshot_2016-08-20_07-57-18](https://cloud.githubusercontent.com/assets/212093/17831362/32c76ff0-66ac-11e6-9e73-989ddfb1ff07.png)

[2016-08-23 03:51] cgull commented on #127
Alas, Windows Subsystem for Linux is not going to be a complete solution to this problem.  It requires enabling Windows 10's developer mode, which a lot of Mosh's developer/ops audience will be happy to do. But that involves some security tradeoffs and will probably be blocked by many corporate Windows security policies.

Windows support really boils down to some having somebody with the interest

[2016-08-24 13:51] mdlui commented on #123
It does happen in Secure Shell as well. Makes sense that it's a hterm problem. After an uncomfortable amount of time looking into fonts, I was able to get around it temporarily by disabling directwrite in chrome://flags, however they've removed that feature in the current stable chrome, and for the foreseeable future. It's going to be an issue as long as the chrome team accepts directwrite as the

[2016-08-24 13:51] #123 closed

[2016-08-24 21:39] rpwoodbu commented on #127
OK, color me impressed. It _just works_. All I did was build the ZIP file just as I would ordinarily to give to the Chrome Web Store, and started it like so:

    $ ./nw mosh_chrome_dev.zip

The only caveat is that you have to use the SDK "flavor" of NW.js, otherwise you don't get the NaCl goodness.

I haven't tried this on Windows yet, because, well, I don't have Windows. I'll seek help with that

[2016-08-26 03:43] rpwoodbu commented on #127
I have confirmation that this works on Windows. I will spend some time seeing if I can teach Bazel (the build system I'm using) how to make an MSI package. There's a thing for Linux called [msitools](https://wiki.gnome.org/msitools) which looks quite promising.

[2016-08-26 04:39] bgiesing commented on #127
@rpwoodbu Most people don't use MSIs anymore but EXEs.

Here's NW.js' page saying how to package http://docs.nwjs.io/en/latest/For%20Users/Package%20and%20Distribute/

[2016-08-26 05:06] rpwoodbu commented on #127
@bgiesing I've read that page and I believe I understand it. It doesn't talk at all about MSI vs. any other technique. It just suggests a few packaging facilities, including Windows Installer (which IIUC is what is used with an MSI, but could also be used with an EXE).

I have no intention of undertaking the task of writing a Win32/64 app, much less cross-compiling from Linux to Win32/64, and I am

[2016-08-26 06:23] bgiesing commented on #127
@rpwoodbu MSI is a Windows installer but EXE doesn't have to be a native app so MSI or EXE would be the exact same essentally. I just said use EXE instead as some people don't know what MSIs are and might not know how to use it. (Some users are ridiculous) Also EXEs can be used with other install systems than Windows Installer (like Nullsoft or 7zip)

This is an easy way to look at installers:
1.

[2016-08-26 06:52] rpwoodbu commented on #127
I don't have time for all that. No third-party installers. I am 95% confident I can build a working MSI from Linux without bringing in a ton of dependencies. That's as far as I'm willing to take it (and as I've mentioned, I'll punt on it if it becomes trouble).

I am going to need help, though, doing ongoing release qualification and whatnot. Whoever takes on that task may also want to improve the

[2016-08-26 12:42] binaryhermit commented on #125
Mosh dev version crashes on a chromebook flip, both on the beta channel and the dev channelm when logging into a server, either using public key or password, giving an error message about mosh NaCL crashing.  When using a password, the error message appears after entering the password.

[2016-08-27 04:14] rpwoodbu commented on #125
Thanks for that report, @binaryhermit. I didn't bother to test this on ARM for the dev track. I am seeing the same crash on my HP 11. It seems that this old ARM Clang PNaCl bug still exists in Pepper 49, even though the [issue](https://bugs.chromium.org/p/nativeclient/issues/detail?id=4173) I opened about it long ago was marked "WontFix". 😞 I've just pinged that issue. I'm going to leave this brok

[2016-08-28 20:36] markybob commented on #127
how about this?
"Koush, developer of the Chrome app Vysor (among other projects), has made porting Chrome apps to Electron incredibly easy. With his tool, aptly named Electron Chrome, developers can compile their existing Chrome apps into Electron applications in seconds. It essentially works as a compatibility layer that takes Chrome API calls and translates them into Electron API calls."

http:/

[2016-08-28 21:28] rpwoodbu commented on #127
@markybob Interesting idea. I like that it is smaller to distribute than NW.js. I especially like that electron-chrome can pull apps from the Chrome Web Store, which would retain the auto-update functionality. However, it doesn't appear that it supports all the APIs I need (notably, chrome.sockets.udp). And it isn't clear from a cursory glance whether it would support NaCl (fill me in on that if y

[2016-08-28 23:36] computersarecool opened #128 "On Ubuntu, how can I see the normal "Welcome Screen""
When I log into my Ubuntu server using something like Putty, I see the normal "Welcome to Ubuntu" screen which shows things like system usage, processes and a general welcome message.

When I log in via Mosh, I do not see this.

I actually like seeing this welcome message and I am wondering if there is a way I can show it.

To complicate this question, my `.bashrc` file opens an instance of TMUX s

[2016-08-28 23:46] rpwoodbu commented on #128
This is a server-side issue. Mosh for Chrome starts mosh-server in the same manner as the `mosh` script that comes with the standard upstream package. I suggest testing this by using the `mosh` CLI on Ubuntu to connect to localhost. If it behaves as you describe (and I believe it will), I suggest taking this up with the main Mosh project. (It'd be a good question for their mailing list.)

[2016-08-28 23:46] #128 closed

[2016-08-30 08:33] Matttter opened #129 "ssh key"
How do I use mosh without having to enter a password every time? I tried the following:

- Go to local machine terminal on chrome OS (ctrl-alt-t), cat id_rsa, copy all of it, paste it in the ssh key settings in the mosh app, and add id_rsa.pub to authorized_keys on target machine

- the same but with the id_rsa from the target machine

- lots of variations,...

[2016-08-30 19:07] rpwoodbu commented on #129
Please see the wiki page on [key-based ssh auth](https://github.com/rpwoodbu/mosh-chrome/wiki/Key-based-ssh-Authentication). Let me know if that page needs to be improved to answer your question.

Note that if you have a passphrase on your key, you will be prompted for that _every time_. There's no ssh agent (see Issue #78). See the warning in about passphrase-less keys  on the aforementioned wiki

[2016-08-30 19:38] adamdavislee commented on #90
Just to add to the confusion: I just tried to login to my machine (which I hadn't done in a while) and although I used to connect without issue, I got the following error:

    Could NOT authenticate DNS lookup.
    Remote ssh host name/address:
    ec2-52-38-106-69.us-west-2.compute.amazonaws.com:22
    ssh-ecdsa key fingerprint of remote ssh host (MD5):
    b7:42:ca:46:22:1e:ff:a0:dd:e2:a4:bc:9b

[2016-08-30 23:16] rpwoodbu commented on #90
@adamdavislee Your report matches my expectations for this issue.

I got a hint of something to try on the aforementioned SDK bug. I'll be giving that a shot soon. (I hope it doesn't cost too much performance, though, esp. on ARM.)

[2016-08-31 04:58] adamdavislee commented on #90
@rpwoodbu Sounds good; thanks!

[2016-08-31 20:16] Matttter commented on #129
I'm really sorry to bother you but I can't get it to work for the life of me. Could you make it a step-by-step, noob-proof tutorial instead of assuming prior knowledge? Again, sorry to bother you

[2016-08-31 20:32] rpwoodbu commented on #129
Well, everyone's setup is a little different, and I don't really want to hash out the whole of setting up ssh key auth (which is documented all over the Interwebz). So let's see if we can figure out your specific problem, then see if it is appropriate to modify the wiki page.

First, do you have passphraseless ssh key auth working with plain-old ssh from some *nix machine and the server in questio

[2016-09-01 11:46] Matttter commented on #129
I have added the content of the id_rsa.pub file on my Chromebook shell to
the authorized_keys file on my Raspberry pi, and that works fine, I can
just do ssh pi@IPADRESS and it gets me in the pi's shell directly. My
problem is with the mosh application.

I don't care about the security problem, that's not really important to me
as I keep my Chromebook with me at all times and would be able to revo

[2016-09-01 19:25] rpwoodbu commented on #129
the authorized_keys file on my Raspberry pi

The public key cannot grant access to anything. That's kinda the point. 😉 You need to give Mosh for Chrome the contents of the `id_rsa` file (not `id_rsa.pub`), which contains the _private_ key. Let me know if this fixes your problem.

AFAIK, this is not an currently an option. Originally, Mosh for Chrome had to be a "packaged app" in order to get acces

[2016-09-01 19:49] Matttter commented on #129
Fuck I feel stupid now. Sorry for bothering you. I'll try to make an easier version of the wiki page and make a pull request. Cheers

[2016-09-01 19:50] #129 closed

[2016-09-01 19:54] Matttter commented on #129
Oh it's not in the code... I'll just send it to you then

[2016-09-06 00:40] #127 closed

[2016-09-06 00:43] rpwoodbu commented on #127
I have an initial effort done now. I will publish the installer files when I produce v0.3.7 (I have a couple of unrelated things I need to get in first). There may be  issues (there's one KI already) or feature requests; please open new issues for these.

[2016-09-06 00:44] rpwoodbu opened #130 "Windows version cannot open links to external docs"
From the message in commit 11e421f:

[2016-09-06 03:55] colemickens opened #131 "Mouse events only work in the top-left corner of mosh window"
(Originally filed in the wrong project: https://github.com/mobile-shell/mosh/issues/803)

If I open vim in mosh and click around, I notice the following:

1. Everything works fine in the top-left corner of the window.

2. Click and scroll events elsewhere are translated into key presses.

I've noticed this in both Dev/Stable in both Windows and ChromeOS, as well as Dev/OS X.

Here's a video of thi

[2016-09-06 04:09] rpwoodbu commented on #131
Interesting. I don't know much about mouse support in Mosh TBH, but I'll take a swing at this.

Thanks so much for the helpful video; I was able to reproduce this easily after watching that. I tried reproducing in Secure Shell (which shares the same hterm terminal emulator), and it seems to work fine there. I also tried reproducing with the upstream Mosh directly (albeit via an ssh session), and i

[2016-09-06 18:28] cgull commented on #131
I rewrote the mouse support in Mosh a year back, I know far too much about it :)

There's 3 or 4 different modes for mouse reporting encoding available in modern terminals that have gotten added over time.  They differ in how the x/y position values are encoded.  The earliest version just encodes the position report bytes as ASCII printable characters.  That only works for screens < 96 rows/column

[2016-09-11 03:50] rpwoodbu commented on #131
I upgraded from hterm 1.54 to 1.57, but that did not fix the issue. I did some debugging, and I can see that it is outputting in the first mode @cgull describes. And looking at the hterm code, I can see that this is the only mode supported. So while 96 rows/columns would be the "expected" limit, hterm is clamping not at 0x7f, but at 0xff, making the limit 224. This _works_ with Secure Shell and vi

[2016-09-11 05:18] rpwoodbu commented on #131
The issue was that these large characters got UTF-8 encoded on their way to NaCl from JS. More details in the commit I'm about to push. This fix will be in the next dev release, which I hope to do soon (I have one more thing I want to fix first).

[2016-09-11 05:21] #131 closed

[2016-09-11 22:29] rpwoodbu commented on #90
The more recent NaCl SDKs seem to have fixed the pnacl-translate determinism problem for ARM. But now they reliably build broken binaries. I guess I'll take reliably broken over nondeterminism.

I got a recommendation to use the new "subzero" translation pipeline by setting `--use-sz`. That caused an error, saying that ARM isn't supported. I could only get i686 to take it. I experimented a bit, an

[2016-09-11 22:31] #90 closed

[2016-09-12 03:03] rpwoodbu commented on #125
This was fixed over in Issue #90.

[2016-09-12 03:03] #125 closed

[2016-09-12 03:04] rpwoodbu commented on #90
v0.3.7 is rolling out now to the dev track. Let me know if there are further issues.

[2016-09-12 03:04] rpwoodbu commented on #131
v0.3.7 is rolling out now to the dev track. Let me know if there are further issues.

[2016-09-12 03:20] rpwoodbu commented on #127
Here are dev releases of v0.3.7 for both x64 and ia32:

https://storage.googleapis.com/mosh-chrome/mosh_for_windows_0.3.7-dev_x64.msi
https://storage.googleapis.com/mosh-chrome/mosh_for_windows_0.3.7-dev_ia32.msi

I haven't tested on ia32, so if anyone can do that, it'd be especially helpful.

When I do the next stable release, I'll publish the Windows installers on GitHub under Releases.

[2016-09-13 01:11] colemickens commented on #131
This is working for me on every platform, thanks for the fast turn around!

[2016-09-13 01:21] colemickens opened #132 "Windows monospaced fonts don't align properly"
This only affects me on Windows, where mosh for Chrome is still the best experience for moshing into my servers, despite "bash on Windows" due to hterm working better than conhost.exe.

This seems to be an issue regardless of the font. Here's three different fonts: http://imgur.com/a/GyCq3

You can see, depending on the font, there's either one big glitch, or one big glitch with some smaller ones

[2016-09-13 01:25] colemickens commented on #132
Looks like this is not Mosh specific: http://i.imgur.com/ZiuNEVn.png

I still don't really know where to dig into this, so if you have any suggestions, it'd be great. Thanks!

[2016-09-13 01:40] colemickens commented on #132
Native win32 and UWP are also affected, so this is clearly not a mosh issue: http://i.imgur.com/W4ht1s8.png

Feel free to close this unless anyone has any suggested workarounds. I'll close it soon if I don't hear anything.

[2016-09-13 02:15] rpwoodbu commented on #132
This is almost certainly due to an unusual character being displayed that is wider than the normal set of what might be called "ASCII characters". I see a weird character inside the brackets on the left which is causing the issue. Alignment is a common problem for fixed-width situations displaying things like graphics and CJK characters.

[2016-09-13 02:15] #132 closed

[2016-09-13 02:18] colemickens commented on #132
Yup, only an issue on Windows. Thanks for closing, I'll try to find someone in Windows to chase this down or find a workaround.

[2016-09-17 01:09] bitcrazed commented on #132
@colemickens Hey Cole. Looks like the alignment issue is caused by the star symbol being wider than a single character cell:

![image](https://cloud.githubusercontent.com/assets/961950/18604786/08c72de0-7c36-11e6-9259-e0b727bca66e.png)

[2016-09-28 06:48] jdehaan opened #133 "Unable to type curly and normal brackets, backslash"
Keyboard is german no dead keys.

Mosh 0.3.0.258
Chrome 53.0.2785.116 m

Nor the brackets neither any other replacement char for it is output. The problem might likely have to do with the fact that for all these characters you have to push the "Alt Gr" key in combination with another key.

[2016-10-01 19:02] rpwoodbu commented on #133
What OS are you running? I'm using Chrome OS, and am unable to reproduce this problem.

I have tried both the "German - Deutsch" and "German (Germany) - Deutsch (Deutschland)" keyboards (I don't know why Chrome OS has two that are so similar). I pressed several AltGr combinations, particularly on the number keys with the braces and brackets, and they all appeared.

I don't know what "no dead keys"

[2016-10-01 19:12] rpwoodbu commented on #133
There's an old issue which may be related: Issue #115.

[2016-10-02 05:26] rpwoodbu commented on #75
I'm no longer using libssh from naclports, because I'm maintaining my own patches. This has been the case since SHA 97fad57fc4f10390ccbcfd5a2b7252f0e169d56a. Please reopen if this is not resolved for you.

[2016-10-02 05:26] #75 closed

[2016-10-02 06:06] cgull commented on #127
Huh, I thought I commented already.  Something close to 20 days ago, I tried the ia32 build on a tablet with Win10 32-bit (worked fine) and an old laptop with Vista (failed on a missing DLL symbol, apparently this is due to Chrome and this derived environment having dropped support for Windows <= Vista).
I am impressed, this is an easy single-package install with no dependencies for Windows users.

[2016-10-03 17:28] jdehaan commented on #133
Thanks for checking this on your side so quickly.

The OS I have the problem on is Windows 7 Professional (fully patched)

The "no dead keys" option is useful like explained in this [example](http://superuser.com/questions/280005/how-to-make-and-non-dead-keys-on-windows-7-with-german-keyboard-layout)

I will double check if something else can be the root cause for this behaviour. I'll check especi

[2016-10-04 20:18] jdehaan commented on #133
I double checked: the problem is there too with the Secure Shell extension. In that tool there is an option to change the Alt Gr behavior. If I change it from "auto" to "right-alt" then the problem is away.

Now the problem I have is to setup that in Mosh. The setting sticks to "null". Can you please check what is wrong with that setting in Mosh?

[2016-10-04 23:43] peterjeremy opened #134 "Mosh title bar is not updated"
On Unix, the xterm title bar can be set using OSC 2 ; text BEL and mosh intercepts this and appends [mosh].  This doesn't work in Chrome using either 0.3.0.258 or or 0.4.0.

I believe there are some oddities with getting this working because it doesn't work on the first SecureShell session but does work on subsequent SecureShell sessions.

[2016-10-06 01:03] rpwoodbu commented on #134
This has always worked fine for me. I just tested on the latest stable Chrome (54.0.2840.41 beta (64-bit)) on Ubuntu Linux (even worked on first session), both Mosh for Chrome 0.3.0.256 and 0.4.0, and I even tested both OSC 0 (which I use) and OSC 2 (which you suggest), and both work fine. Is there something different about your setup?

BTW, this also kind of works on Chrome OS, but as the title b

[2016-10-06 01:03] #134 closed

[2016-10-06 01:04] rpwoodbu commented on #134
Oh, one more thing: If you're running tmux or screen, you may have some interference there.

[2016-10-06 01:07] rpwoodbu commented on #133
Ah, very interesting. I can reproduce the bug with alt-gr-mode. It is also peculiar that it is at the top of the preferences list, in spite of ASCIIbetical ordering. I'll look into it.

[2016-10-06 03:34] rpwoodbu commented on #133
Version 0.4.1 is rolling out to dev right now. I ended up doing a big rework of the preferences page, which hopefully will avoid these kinds of issues in the future. Please put it through its paces and let me know if this fixes you (I'm almost sure it will), or if you find something that is broken.

[2016-10-06 04:42] rpwoodbu commented on #127
Thanks, @cgull, for testing it, and for the nice words. I am prepared for the extra support burden; I wouldn't have gone to this trouble if I didn't want folks to use it. 😉 But at the same time, if anyone produces a better alternative, I'd happily ditch this Windows "port" (if you can even call it that).

[2016-10-06 04:53] rpwoodbu commented on #133
Aaand make that version 0.4.2, because I messed up. 😉

[2016-10-07 20:51] jdehaan commented on #133
Now I can make the settings and they are stored correctly in the GUI. So far that rocks, thanks! However no matter what I tune the effect is not the same as in using directly the ssh extension. So I suppose the setting is somehow lost on the way to ssh (the shell behaves badly exactly as before). I tried right+alt and the other settings as well. Used version is v0.4.2

[2016-10-07 21:13] rpwoodbu commented on #133
Oh crap, you're right! I know I thought to test that, and thought I did, but apparently I didn't. OK, I'll look into that this weekend. Thanks for checking!

[2016-10-08 20:29] #133 closed

[2016-10-08 20:31] rpwoodbu commented on #133
OK, v0.4.3 is rolling out now. Let me know if this fixes it for you.

[2016-10-10 06:38] jdehaan commented on #133
Great! Works like a charm now. I can now finally get rid of copy pasting special chars from notepad++ (ugly and time consuming workaround)!

Thanks for all the efforts.

[2016-10-10 12:39] jdehaan opened #135 "send-encoding setting sticks to "raw""
The option "send-encoding" sticks to "raw" and this avoids being able to send a simple "§" character to the console. It appears as question mark because probably a send/receive mismatch.

Directly using the ssh extension in send and receive utf-8 works fine. So I suppose the setting for "send-encoding" is lost on the way similarly maybe to how the AtlGr issue (#133) did.

PS: sorry for keeping tri

[2016-10-10 17:40] rpwoodbu commented on #135
It would appear that, a long time ago (in SHA 1143dc021365fd13b7d9bcbbeca2e6122fcb6d1d), I forced this to "raw" to fix Unicode input. But now it seems that this actually _breaks_ it. I'll roll this back and build a new release candidate tonight.

[2016-10-12 01:23] rpwoodbu commented on #135
Also FTR, this was "fixed" in Issue #2, but that still doesn't explain why that helped. I'm assuming that hterm has changed behavior in the interim.

[2016-10-12 01:23] #135 closed

[2016-10-12 01:25] rpwoodbu commented on #135
OK, try v0.4.4 dev release. Thanks for finding these issues!

[2016-10-12 03:15] rpwoodbu commented on #135
Oh, I should point out that this fix will _not_ revert `send-encoding` from `raw` to `utf-8` automatically. It will, however, be set to `utf-8` by default for new users. Existing users will need to revert this setting themselves, perhaps by hitting the "Reset to defaults" button in the preferences editor.

The reason is that it isn't possible to know whether this was set to `raw` by the user or by

[2016-10-13 06:36] jdehaan commented on #135
I think your decision for handling the parameter is smart and less annoying for users who were happy with the previous state.

For me it works like a charm now and I think I can start using mosh more intensively! Many thanks

[2016-11-01 06:15] PenelopeFudd opened #136 "Mosh hangs at "Loading NaCl module", Chrome 54.0.2840.71 m (64-bit) on Windows 10"
This would be a clone of #94, but Chrome is up to date, and the computer was freshly set up just this week.  After posting this, I see that #124 is even more similar; how do I get a stack trace?

Mosh was working fine, some Windows updates rolled in, and now mosh is hanging.  I don't want to go back to Putty!

[2016-11-01 06:28] PenelopeFudd commented on #136
Just tried the developer track version, and after entering username and host, clicking 'Connect', it pops up a black window that does nothing.

[2016-11-02 15:39] Z6543 commented on #136
I have the same issue.
Chrome Version 54.0.2840.87 m (64-bit)
Windows 10 with latest updates
Mosh  0.3.0.258

[2016-11-03 01:45] rpwoodbu commented on #136
This is peculiar. @PenelopeFudd are you running the same version of Chrome as @Z6543? I have another report of someone running with the same versions as @Z6543 without trouble.

You might bring up the JavaScript console for mosh_window.html and see if there are any hints in the log.

[2016-11-03 07:50] Z6543 commented on #136
This is the content of the JS console:

`init: hterm
mosh_window.js:242 Uncaught TypeError: this.moshNaCl_.postMessage is not a function(…)
mosh_window.js:242 Uncaught TypeError: this.moshNaCl_.postMessage is not a function(…)
mosh_window.html:1 Error in response to storage.get: TypeError: Cannot read property 'length' of undefined
    at Object.lib.encodeUTF8 (chrome-extension://ooiklbnjmhbcgemel

[2016-11-09 08:27] Earlz opened #137 "No way to create a second mosh session on Windows and OSX"
There seems to be no way to open a second window on OSX. The command-N shortcut appears disabled for some reason, and no other reasonable option seems available. Using spotlight with "mosh" results in it opening the already existing window

[2016-11-09 15:43] rpwoodbu commented on #137
A long time ago, in SHA 6e6ffec035922916e29da73060af4f8a7e72d55e, I added the ability to create multiple simultaneous sessions by adding a selection to the right-click menu for the app icon. IIRC, that was needed for Chrome OS specifically, as on that platform, clicking the icon just brought the currently open window to the foreground, whereas on other platforms, it opened a new window. Maybe that

[2016-11-09 15:49] rpwoodbu commented on #136
Doesn't seem like there's anything useful on the console (those are all errors from known but innocuous issues). Weird that this isn't happening for everyone.

I have a dev release of a "native" Windows app. Please give that a try and let me know if it works OK. I'll place both links here, but you'll want the x64 one:

https://storage.googleapis.com/mosh-chrome/mosh_for_windows_0.3.7-dev_x64.msi
h

[2016-11-09 16:05] Z6543 commented on #136
Good news is that it started to work again some days ago, for no reason ...

[2016-11-09 21:06] rpwoodbu commented on #136
@Z6543 Was there an update either to Windows or Chrome in that period? How strange.

@PenelopeFudd Is it working for you at this time?

I'm going to go ahead and close this, since it kinda fixed itself, doesn't seem to be widespread, and for the reasons I mentioned earlier. But please do answer the above question FTR.

[2016-11-09 21:06] #136 closed

[2016-11-10 08:30] MRGEffitas commented on #136
I have checked the Windows logs, there was no Windows update since.
Chrome version did not change.
Mosh version did not change.

I think the only change in the system was a Windows restart. Odd ...
Anyway, thanks for looking into this.

[2016-11-10 08:32] Z6543 commented on #136
The previous post was done by me, from a wrong account :)

[2016-11-15 08:02] PenelopeFudd commented on #136
The development version linked above (x64) is working, but the version from the chrome app store is not.  Chrome version Version 54.0.2840.99 m (64-bit) (Windows 10, patched as of today).

Also, I can't start a second session using the dev version; right-clicking on the taskbar icon and selecting 'Mosh' does nothing.

[2016-11-15 08:26] PenelopeFudd commented on #136
I've uninstalled and reinstalled Chrome (v51.0.2704.106 m -- not the latest version), and then installed the dev version of Mosh from the Chrome web store (v0.4.4), and it works fine.  Going to try updating Chrome to see if it breaks Mosh.

[2016-11-15 08:30] PenelopeFudd commented on #136
Updated version of Chrome works fine with dev and non-dev versions of Mosh from Chrome web store.  Can no longer reproduce the problem.

[2016-11-16 15:17] jgallen23 opened #138 "tmux 2.1 copy doesn't work anymore"
Just updated tmux to 2.1 and I've lost the ability to copy selection to clipboard.  I did a bit of research and it looks like I need to `copy-pipe` into a process that sets the clipboard (pbcopy, xclip).  Is that possible?

[2016-11-18 19:11] tdilo commented on #121
I dug a little more and it is actually possible to (base64-)encode a web font into a data URI. The data URI containing the font can then be embedded into a CSS file. The CSS file in turn can again be encoded as a data URI and set as `user-css` preference. In my experiment I used the [Go Mono](https://blog.golang.org/go-fonts) font, which results in a `user-css` data URI string of around 68 kB.

Se

[2016-11-18 20:16] rpwoodbu commented on #121
Interesting. My feeling is still that this needs to be solved at the `hterm` level. Anything done at the Mosh for Chrome level is going to be a hack on or around `hterm`. For example, using local storage for `user-css` would require patching `hterm`. As another example, adding a dropdown for `user-css` on the preferences page, which actually comes from `hterm` directly (in the latest code), would

[2016-11-18 22:33] colemickens commented on #121
Where is the official `hterm` project page? How does one most easily get in contact with "the `hterm` folks"?

[2016-11-18 23:16] tdilo commented on #121
I agree that adding a facility to supply fonts would best be added to [hterm](https://chromium.googlesource.com/apps/libapps/+/master/hterm) itself, but then I'd rather do it properly instead of hijacking the user-css field - and avoid `base64(base64(blob))`.

According to https://chromium.googlesource.com/apps/libapps/+show/master/hterm/doc/embed.md#60  setting of storage location is already supp

[2016-11-19 03:36] rpwoodbu commented on #121
@colemickens See the link in @tdilo's most recent comment, which points to their code repo. There isn't an official project page per se AFAIK. But there is a [mailing list](https://groups.google.com/a/chromium.org/forum/#!forum/chromium-hterm).

@tdilo I don't want to change the storage location for all of hterm's settings. I might consider making an option for the user to switch it per-machine (o

[2016-11-20 21:05] tdilo commented on #121
@rpwoodbu thanks for the detailed explanation. If switching over to local storage completely is not an option, then upstream is indeed the way to go. I'll have a look at hterm some day, but for now it's rather low priority on the list of things I want to get done.

[2016-11-30 19:24] ttelford commented on #111
Try this:

Under "mosh server command" use:

mosh-server new -c 256

That tells the mosh server to use 256 color mode.

[2016-11-30 20:10] rpwoodbu commented on #111
The [default command](https://github.com/rpwoodbu/mosh-chrome/blob/63a94642999c6352b008bf186bf09f07e8034838/mosh_nacl/ssh_login.cc#L44) includes `-c 256`, but definitely if you're overriding the command, you'll need to be sure to specify that switch.

[2016-12-09 15:46] daveme88 commented on #127
Very happy to have found some sort of native windows mosh.
It seems to be working (limited testing so far)
Only problem is that it seems to only allow one session.
Once its running starting it again does nothing.
Would really like multiple sessions.

[2016-12-11 13:50] dictvm commented on #126
Did your friend have any ideas?

[2016-12-13 02:57] rpwoodbu commented on #137
Turns out this affects the Windows port as well, so reopening. I suspect fixing it there will also fix OS X.

[2016-12-13 02:58] rpwoodbu commented on #127
@daveme88 Thanks for the note about multiple sessions. This was brought up in Issue #137 for OS X, but I closed it as I'm not aiming to support OS X long-term. I've reopened that issue, though, as it also affects Windows.

[2016-12-14 08:21] PenelopeFudd commented on #136
I'm sorry, but mosh broke again.

Chrome versions tested:
 Version 55.0.2883.75 m (64-bit) --- before update
 Version 55.0.2883.87 m (64-bit) --- after update; current version as of 2016-12-14

Mosh-chrome versions tested:
  v0.3.0.258  -- from chrome webstore
  v0.4.4  -- dev stream from chrome webstore

The non-dev version asks for connection information, then opens the terminal window, says "Lo

[2016-12-14 08:22] PenelopeFudd commented on #136
Ok, this worked: https://storage.googleapis.com/mosh-chrome/mosh_for_windows_0.3.7-dev_x64.msi

[2016-12-15 07:30] PenelopeFudd commented on #136
Sigh.  It works except for the fact that I can only open one mosh session at a time.  If I want two terminal windows, I have to use putty.

[2016-12-15 07:34] PenelopeFudd commented on #137
I'm experiencing this in Windows 10 as well, with the native app found here:
https://storage.googleapis.com/mosh-chrome/mosh_for_windows_0.3.7-dev_x64.msi

[2016-12-15 07:41] PenelopeFudd opened #139 "Mosh 0.3.0.258 hangs at "Loading NaCl module", Chrome Version 55.0.2883.87 m (64-bit) on Windows 10"
Creating a new issue as I don't have the power to reopen #136.

Mosh 0.3.0.258 + Chrome Version 55.0.2883.87 m (64-bit) + Windows 10: Hang at 'Loading NaCl module'
Mosh 0.4.4 + Chrome Version 55.0.2883.87 m (64-bit) + Windows 10: Hang with blank terminal window
Mosh native app 0.3.7 + Windows 10: Works, but can't open a second window (See #137 )

Right-clicking on the Mosh native app on the taskba

[2017-01-03 03:54] rpwoodbu commented on #126
We had a conversation, and I thought he might have had an idea, but he seems to have lost interest.

[2017-01-03 03:57] rpwoodbu commented on #136
Not sure what the deal is with your Chrome installation refusing to run Mosh sometimes. Here's the reality, though: If it isn't broken on Chrome OS, or in the "native" app, then it isn't getting fixed. This is because Google has decided to eliminate support for Chrome Apps in the near future on all platforms but Chrome OS.

That said, the "only one session at a time" problem exists in the "native"

[2017-01-03 03:58] rpwoodbu commented on #139
Please see the original Issue #139.

[2017-01-03 03:58] #139 closed

[2017-01-03 04:06] rpwoodbu commented on #138
If I understand what you're asking, you want the terminal emulator (hterm) in Mosh for Chrome to call out to an external binary to set the clipboard. That's never going to work with a Chrome App. However, hterm does know how to address the local clipboard through the Chrome APIs, so I'm surprised this has stopped working. I use tmux, but I haven't gotten to 2.1 yet.

It would help to narrow down t

[2017-01-04 04:03] eminence commented on #137
Note that the mosh chrome extension allows for multiple sessions.  Just open a new chrome tab, click 'Apps', and then launch 'mosh'.  Another window will pop up.   Tested on Chrome 55 on Windows7.  This might be a workaround for some people

[2017-01-04 15:22] Earlz commented on #137
This is a good workaround for me on OSX

On Tue, Jan 3, 2017 at 11:03 PM, Andrew Chin <notifications@github.com>
wrote:

[2017-01-09 05:01] rpwoodbu opened #140 "Build broken by incompatible change to Bazel"
Building produces this error:

    ERROR: No toolchain found for cpu 'k8'. Valid cpus are: [
      pnacl,
    ]

I believe this is due to an incompatible change introduced in [Bazel 0.3.2](https://github.com/bazelbuild/bazel/releases/tag/0.3.2):

I haven't tested this, but a workaround should be to build with an earlier version of Bazel.

[2017-01-11 03:40] jgallen23 opened #141 "export/import prefs"
is there any way to export or import preferences?

[2017-01-11 03:49] rpwoodbu commented on #141
Not currently. I see that Secure Shell (which is where our hterm terminal emulator comes from) has "Save Backup" and "Restore Backup" options. So it probably isn't too hard to graft that onto Mosh for Chrome.

Be advised that your preferences sync to your Google account through Chrome Sync (if you have that turned on), and will appear automatically on all Chrome browsers signed in with the same ac

[2017-01-11 03:55] jgallen23 commented on #141
Good to know that they sync, that's exactly what I needed to know

[2017-01-11 04:05] rpwoodbu commented on #141
I added a note to this effect in a new section in the [main documentation](https://github.com/rpwoodbu/mosh-chrome/wiki/Documentation) called "Tweaking terminal preferences".

[2017-01-19 06:48] rpwoodbu commented on #140
So yes, Bazel 0.3.2 broke the build in the way I thought. Fixed in SHA 427c976.

However, Bazel broke the build at that version and all subsequent versions (up to 0.4.3, anyway) in yet _another_ way. It's doing some extra include dependency analysis, and causes this sort of error on many files:

    ERROR: /home/rpwoodbu/code/mosh-chrome/mosh_nacl/BUILD:210:1: undeclared inclusion(s) in rule '//mo

[2017-01-24 18:13] Sonicadvance1 opened #142 "Zoom in via `CTRL + plus` doesn't work in Windows Mosh"
Zooming in via CTRL + plus(Shift + equals) doesn't work, while CTLR + equals does work.
This is contrary to the Chrome App version which supports both

[2017-02-01 18:00] jgallen23 opened #143 "update hterm to 1.61"
https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm/doc/ChangeLog.md

^ would be nice to have

[2017-02-01 19:13] rpwoodbu commented on #143
Ooh! Yeah, I want that. 😀 I'll see about getting that in soon.

[2017-02-01 21:40] jgallen23 commented on #59
How does secure shell do it?

[2017-02-01 21:50] rpwoodbu commented on #59
Secure Shell is not a Chrome Packaged App. It does not need UDPSocket.

[2017-02-08 22:29] daluz commented on #25
I have the same issue. Simple password (AaaaaaaBbbbbb1234), and like the first message, the serves uses yubikey pam module.

[2017-02-11 00:46] rpwoodbu commented on #25
Interesting that both of you are using the Yubico PAM module. It is confusing that @trichner was able to connect with a simple "1234" password, whereas you cannot connect with a still rather simple alphanumeric password. I wonder if there was something else going on when @trichner tried "1234". @daluz, can you test with exactly that password and see what happens?

There's one other thing worth men

[2017-02-11 00:52] daluz commented on #25
I'll try to, but the server passwords are behind a security policy that I have no control of. Let me know how I can provide more logs if you need to.

[2017-02-24 12:34] bcspragu opened #144 "Mosh eats Alt+[ , Alt+], and Alt++ on ChromeOS"
I use a lot of ChromeOS keyboard shortcuts, like Alt+{1-9} for switching/opening apps, and Alt+[, Alt+], Alt++ for window management. With the "pass-alt-number" preference set to "true", I can use Alt+{1-9} while in Mosh to switch applications, but there's no equivalent option (as far as I can tell) for the other combinations I've mentioned.

[2017-02-24 12:51] bcspragu commented on #144
I found the solution in [this Google Groups thread](https://groups.google.com/a/chromium.org/forum/#!searchin/chromium-hterm/chromeos$20alt$2B%5D%7Csort:relevance/chromium-hterm/wXSM96Q5mxw/SVkVPrHrAAAJ). What worked for me was setting `alt-sends-what` to `browser-key`, and setting my `keybindings` to `{"Alt-+":"PASS","Alt-45":"PASS","Alt-[":"PASS","Alt-]":"PASS"}`

[2017-02-24 18:13] rpwoodbu commented on #144
I'm glad you found the solution. I thought I'd documented that in the FAQ, but it appears I haven't. I'll keep this open to remind me to do that.

[2017-03-12 05:46] tlnagy opened #145 "Powerline fonts not working in mosh?"
I'm on OS X and playing around with mosh. I was hoping that powerline fonts would work. I'm using https://github.com/wernight/powerline-web-fonts, which works great with chrome secure shell, but doesn't seem to work when I set it up the same way in mosh:

![image](https://cloud.githubusercontent.com/assets/1661487/23829315/2aeceb3c-06a4-11e7-9132-d9468736640c.png)

[2017-03-27 02:12] #143 closed

[2017-03-27 02:32] rpwoodbu commented on #138
I just updated the dev channel to hterm 1.61, which might fix your issue. According to the [changelog](https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm/doc/ChangeLog.md), this happened in hterm 1.58 (a version later than the one in the stable channel):

If you want to test it out, install "Mosh (dev)" and give it a go.

[2017-03-27 02:34] rpwoodbu commented on #145
I just updated the dev channel to hterm 1.61. I was a few versions behind, so maybe an issue in hterm had been fixed in the interim. (hterm is the same terminal emulator used by both Mosh for Chrome and Secure Shell.)

Please install "Mosh (dev)" if you'd like to test this out sooner than later.

[2017-03-28 18:03] tlnagy commented on #145
It looks like mosh-dev still has this problem:

![image](https://cloud.githubusercontent.com/assets/1661487/24419999/178e5ee0-13a6-11e7-9f7e-12ce040e1ad4.png)

[2017-03-29 03:16] rpwoodbu commented on #145
Hmm, OK. I wonder if there are any permissions issues with getting at those web fonts. When I get time, I'll try it out locally. Before then, though, if you can check the JS console for the terminal window to see if there are any unusual messages, that would be helpful.

[2017-03-29 05:04] tlnagy commented on #145
How do I bring up the JS console? I'm not sure how to activate it for chrome extensions.

[2017-03-31 18:34] dustinosity commented on #145
I'm having the same issue in chrome OS on a chromebook. In my js console I'm getting:
`Refused to load the stylesheet 'https://cdn.rawgit.com/wernight/powerline-web-fonts/8040cf32c146c7cd4f776c1484d23dc40685c1bc/PowerlineFonts.css' because it violates the following Content Security Policy directive: "style-src 'self' blob: filesystem: data: chrome-extension-resource: 'unsafe-inline'".`

[2017-03-31 18:38] dustinosity commented on #145
@tlnagy here's how to bring up the JS console according the the mosh-chrome FAQ:

via https://github.com/rpwoodbu/mosh-chrome/wiki/FAQ#how-can-i-change-the-way-the-terminal-looks-font-color-etc

[2017-03-31 18:45] tlnagy commented on #145
Thanks @dustinosity, I see the exact same thing:

[code]

[2017-04-07 12:37] burcin commented on #138
After seeing that the dev version (1.5.0) still didn't work, I decided to look elsewhere for the problem. Lo and behold, updating mosh on the server side (from 1.2.4a to 1.3.0 in this case) solved the issue. Both dev and stable versions work as expected, so I suggest closing this ticket.

[2017-04-08 14:55] oskar456 opened #146 "SHA-256 SSHFP records don't validate"
I have a SSH server with bunch of SHA-2 SSHFP records:

[code]

Even though the fingerprint is valid (I use it daily from a Linux machine) when used by Mosh app, I'll get this scary warning:

[code]

I guess the problem would be in SHA-256 fingerprints not supported. This should be fixed by either validating SHA-256 (according to RFC 6594 SHA-1 fingerprint should not be considered when there is ar

[2017-04-08 15:09] oskar456 opened #147 "Support for multiple SSH keys/certs"
For a few servers, I use OpenSSH certificate for authentication. That means I use not only private key file `id-rsa` but also certificate file `id-rsa-cert.pub`. It works very well with OpenSSH or with Chrome SSH app. But for Mosh app, there is no way how to add the private key and the certificate at the same time.

It would be nice if there were such option, as well as option to have more than on

[2017-04-09 17:52] rpwoodbu commented on #146
Mosh for Chrome doesn't currently support SHA-256 (see [here](https://github.com/rpwoodbu/mosh-chrome/blob/master/mosh_nacl/sshfp_record.cc#L241)). It really needs to (especially in light of SHA-1 being "[SHAttered](https://shattered.io/)"), but when I wrote this, the version of libssh I was using didn't have support for that hash, and I didn't have time to dig deeper.

The code only checks for SH

[2017-04-09 18:05] rpwoodbu commented on #147
I do know that Mosh for Chrome supports SSH certificates. So the issue here is how to have more than one credential at a time. This shouldn't be too hard to do; the keys/certs are in PEM format, which is well-delineated. I should be able to permit adding multiple keys/certs, and the code can go through them all to find one suitable for the remote server (similar to how OpenSSH works).

It would de

[2017-04-10 01:26] #146 closed

[2017-04-10 19:46] #138 closed

[2017-04-22 19:40] caiges opened #148 "Incorrect cursor position"
Using the latest version of Mosh Chrome extension:

![mosh cursor position](http://i.imgur.com/wjld4Th.png)

The cursor should be one character forward.

[2017-04-22 20:25] rpwoodbu commented on #148
This will almost certainly be either an hterm (terminal emulator) bug or a fundamental Mosh bug. I'm betting it is hterm, because I also see that the cursor doesn't line up with the character; part of the "y" is below the cursor. You might try a different font and see if that helps.

Can you reproduce this in the Secure Shell app using the same terminal font?

[2017-04-22 20:26] rpwoodbu commented on #148
Oh, also, try the "Mosh (dev)" app, which has a newer hterm.

[2017-04-22 20:28] caiges commented on #148
I tried a different font and the dev app just now and got the same result.

[2017-04-22 20:29] caiges commented on #148
I did try a regular SSH session using the same font and it worked fine.

[2017-04-22 20:35] rpwoodbu commented on #148
Hmm, well, I've never seen or otherwise heard of this problem, and don't know how to reproduce it. Can you think of anything that would be special to your setup that could account for this?

[2017-04-22 20:45] caiges commented on #148
I tried this on my Chromebook as well and get the same result.

[2017-04-22 20:49] rpwoodbu commented on #148
OK, my guess at this point is that the prompt is creating confusion. I'll bet that arrow is throwing off some assumption about fixed-width spacing. Can you copy-paste your prompt into this issue verbatim so that I might know what codepoints you're using?

[2017-04-22 20:51] caiges commented on #148
You are correct. Changing my prompt config solves this issue. If there were GitHub gold, I'd send some your way. Thanks!

[2017-04-23 21:17] rpwoodbu commented on #148
Glad to be able to help! I'd still like to know exactly what codepoint you're using. The fact that you can't reproduce this with the Secure Shell app (that is what you meant by "regular SSH session", right?) is peculiar to me, and I'd like to understand that better.

[2017-04-24 03:48] caiges commented on #148
I'm using oh-my-zsh with the default theme "robbyrussell". You're also correct, I did not experience the issue with a regular SSH session. How can I help?

[2017-04-24 07:03] rpwoodbu commented on #148
It would be helpful if you could simply copy/paste the prompt from the Mosh for Chrome terminal window into this GitHub issue, so that I can easily see the codepoints in question.

It would also be helpful if you could clarify what you mean by "regular SSH session". Did you use the Secure Shell Chrome app, or did you run `ssh` from an xterm, or did you run `ssh` from an Gnome Terminal, or did you

[2017-04-25 02:28] cgull commented on #148
I got curious...

With upstream Mosh and OS X Iterm2 and oh-my-zsh with that theme, I get this for a prompt:

`➜  ~ `

That first character is U+279C, which is a Neutral East Asian Width character.  That means that terminal emulators (including `hterm` and `mosh`) choose whether to interpret/render it as a wide or narrow character, so Asian users can have it as a wide character, and Latin-language

[2017-04-26 21:32] tdierks opened #149 "Mosh windows are following user switching in Chrome OS"
I filed this as https://bugs.chromium.org/p/chromium/issues/detail?id=715763, I'm not sure if it's a Mosh bug, a ChromeOS bug, or neither.

Chrome Version: 57.0.2987.146 (64-bit)
Chrome OS Version: Platform 9202.64.0 (Official Build) stable-channel chell
Chrome OS Platform: HP Chromebook 13

Steps To Reproduce:
(1) Have multiple users on your Chromebook with both logged in for fast user switching

[2017-04-27 00:07] rpwoodbu commented on #149
I have seen this as well. It isn't limited to Mosh; I've seen it mostly with the old Hangouts app (which I will use until they break it). My suspicion is that this is a ChromeOS bug that specifically affects Packaged Apps (ones that never run in a tab).

[2017-04-27 00:08] rpwoodbu commented on #149
And I concur that this only started happening recently, perhaps a week or two ago.

[2017-04-28 05:09] thatfunkymunki opened #150 "Ctrl-Click on highlighted URL not functioning"
HTerm 1.61 https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm/doc/ChangeLog.md added a feature where if you have a URL highlighted, when you ctrl-click it, it will open it in a new tab in your browser. This is currently functioning in Secure Shell but not mosh-chrome

[2017-04-28 05:12] thatfunkymunki commented on #150
the relevant change that was merged into hterm can be found here https://chromium-review.googlesource.com/c/433392 and here https://chromium-review.googlesource.com/c/433392/2/hterm/js/hterm_terminal.js

[2017-04-28 05:18] rpwoodbu commented on #150
Dup of #143.

I haven't released a new Mosh for Chrome with this yet, but the dev track "Mosh (dev)" has it if you're anxious​.

[2017-04-28 05:18] #150 closed

[2017-04-28 06:04] thatfunkymunki commented on #150
Sorry about that! Thought I searched well enough...

[2017-05-01 23:43] geofft opened #151 "Abort with mosh 1.3.0 (v0.5.1) on an ARM Chromebook"
Sorry that I don't have anything more informative here, but I was scrolling and saw a message saying that the mosh client had aborted. I figured I might as well report it in case anyone else sees it.

Are there crash logs or anything on my device that I can get you? Or can I run in a mode that prints stack traces?

The client is app version 0.5.1, mosh version 1.3.0, on CrOS 57.0.2987.146 on a non

[2017-05-02 00:06] keithw commented on #151
We've historically been pretty anti-core-dump for security/paranoia reasons (https://github.com/mobile-shell/mosh/blob/master/src/crypto/crypto.cc#L291-L308), but if you can reproduce it (or if somebody who knows anything about CrOS wants to chime in), we'd be interested.

Where did the binary come from -- is there a distribution of Mosh for CrOS, or did you compile it yourself, or...?

Is it poss

[2017-05-02 00:08] keithw commented on #151
(Sorry, got confused what repo this was in. I don't have much useful to contribute, except to mention that upstream mosh has historically been pretty anti-core-dump for security/paranoia reasons, e.g. https://github.com/mobile-shell/mosh/blob/master/src/crypto/crypto.cc#L291-L308 . But I think we're open to changing this, especially if there's demand/a good reason.)

[2017-05-02 02:08] rpwoodbu commented on #151
Thanks for the report.

What do you mean when you say you were "scrolling"? How reproducible is this? ARM is finicky; this might go away with just a rebuild, sadly.

The only place there might be extra debugging information is in the JavaScript Console for the "mosh_window.html", which you can find via chrome://extensions. But most anything interesting would probably spew into the terminal as well

[2017-05-02 02:38] geofft commented on #151
Oh, that was unclear, by "scrolling" I mean that I was scrolling through a mail message within alpine, using the up and down keys and letting the application scroll its buffer. (I think it does the thing where curses defines a sub-region of the window to scroll).

This happened after some amount of use without incident. I have not been able to reproduce this, either by looking at the same email or

[2017-05-02 02:43] geofft commented on #151
@keithw I'm more interested in a backtrace / some details of the exception than a full coredump. (Also it's possible that there were exception details, but they were printed wherever my cursor was and I didn't see them... it would be nice to log these to the JS console or somewhere a little more persistent.)

[2017-05-02 03:36] rpwoodbu commented on #151
As you probably guessed, all those errors are "normal" (yeah, sorry for the noise... the JS could stand some cleanup).

If it does happen to you again, definitely check the JS console. If the underlying mosh code spits out anything to STDERR, it'll end up there. (It also puts it in the terminal, but as you suggest, that could end up not being noticed or being unreadable).

[2017-05-11 22:38] NHDaly commented on #145
Could this possibly be an issue with [wernight/powerline-web-fonts](https://github.com/wernight/powerline-web-fonts), rather than with mosh? Is there some security promise that the fonts needs to make? I'll start an issue there as well to ask.

[2017-05-12 00:03] rpwoodbu commented on #145
This is a dup of Issue #121. Let's move the discussion there.

[2017-05-12 00:03] #145 closed

[2017-05-12 00:05] rpwoodbu commented on #121
According to Issue #145, it would appear that hterm has added support for web fonts. So this might be as simple as opening up the CSP, but that needs to be considered carefully (see previous comment on CSP).

[2017-05-23 07:38] rayluo opened #152 "The terminal remains black if username is not provided"
How to reproduce: In the first UI of Mosh-chrome, leave the username input empty [1], and setup every other fields correctly. Now hit the "Connect" button, you will see a blank black terminal window but no connection is made.

Suggested fix: the UI should detect such input error and give an error message saying "username is a mandatory field".

[1] Yeah, normally the username field are not expecte

[2017-05-23 21:55] bshogeman commented on #25
Same issue. Is there a way to cleanup the added keys or remove just one?
In the Mosh client there only is a add button no remove or edit. :-/

[2017-05-23 22:00] rpwoodbu commented on #25
@bshogeman You can remove an existing key by hitting "save" while the field is blank. https://github.com/rpwoodbu/mosh-chrome/wiki/Key-based-ssh-Authentication

[2017-05-26 15:53] rpwoodbu commented on #152
Good catch. I can repro.

[2017-05-26 16:38] #152 closed

[2017-05-26 16:42] rpwoodbu commented on #152
The error message now actually shows properly, which fixes this bug. However, I could rather easily add an interactive prompt for the username just as I do for the password if it isn't provided in the web field; is that something worth doing?

[2017-05-26 16:42] rpwoodbu commented on #152
(BTW, this is going out to "Mosh (dev)" as I type this.)

[2017-05-26 18:23] rayluo commented on #152
Thanks for quick response! Yes I can see the error prompt in Mosh (Dev) now.

The interactive prompt you suggested is a completely different topic. It can be useful in a scenario when user have multiple accounts using username/password login, and then choosing accounts on the fly. For other scenario using ssh-key login, Mosh Chrome provides no way to easily switch key anyway, so prompting username

[2017-05-26 21:50] rpwoodbu opened #153 "Run upstream mosh tests"
I understand that upstream mosh has grown some tests. I should teach the build system how to run them.

[2017-05-30 05:56] sweds246 opened #154 "Mouse Click starts navigation"
Clicking mouse goes into navigation. It replicates the exact behavior of "prefix + [" which is used for navigation.

May be this is a known issue and might have got resolved.

Please help.

[2017-05-30 06:04] rpwoodbu commented on #154
I'm afriad I don't understand what you mean by "navigation". And I don't know where you're clicking. Please be more specific, and perhaps give a concrete example.

[2017-06-08 02:23] rpwoodbu opened #155 "Improve upgrade experience"
When the browser sees a new version of the app while the app is running, you get a notification saying that you should close all windows for the update to apply. The problem is that it can take several minutes for the browser to bother performing the update even after that time. This is a bad UX.

One simple solution may be to add some code on the background page which is triggered whenever a wind

[2017-06-08 02:25] rpwoodbu commented on #81
This seems increasingly possible. I've noticed that Secure Shell is asking for permission to add a protocol handler. At the least, we could ask to associate with `ssh://`, but that may not be nice.

[2017-06-17 07:55] coreyoconnor commented on #137
On Windows: Pinning mosh to the taskbar permits starting multiple mosh sessions. Right click then select "mosh" starts a new session.

[2017-07-11 19:22] bitsandbytes commented on #137
On Windows: I find that I can no longer see the app when I start it. For example, I restart my laptop (Surface Pro 4), open up Chrome, click Mosh under the Chrome Apps, and in the taskbar I can see Mosh but the app's login screen doesn't appear anywhere else on the desktop. I try starting a second session, and again the taskbar shows a second session, but I can't see the app anywhere on the deskto

[2017-07-13 08:25] acornejo commented on #5
any ideas on how to achieve this? I keep closing the window by accident, when I open it again it creates a new mosh server, I end up with multiple mosh servers running and this is a single user machine,... so then I have to go clean the pids myself. Its annoying.

[2017-07-14 06:43] rpwoodbu commented on #5
All the ideas I have are captured already in this issue. I don't have time to invest in this, but ideas and especially pull requests are welcome. It'd be great if there were a simple way to achieve Option 2 (or a variant of it).

[2017-07-15 19:58] acornejo commented on #5
Option 1 is definitely feasible, but I would not know how to implement this with rewriting large portions of this plugin. I am new to chrome apps, but it seems that if we put the nacl part on the background page then we would have to open a socket between hterm and the background page to allow them to communicate.

Option 2 seems hard due to chrome packaged apps restrictions as you pointed out.

L

[2017-07-15 20:13] acornejo commented on #40
I have implemented this in pull request
https://github.com/mobile-shell/mosh/pull/899

I am a bit weary though, since I see there are multiple PR's on that project, some of them over a year old that have not received a single comment from the mantainers.

[2017-07-16 00:09] rpwoodbu commented on #40
I'll gladly reopen this (if needed) once your PR is in an official upstream Mosh release.

It isn't terribly difficult to build Mosh for Chrome, nor build it from your GitHub fork which has your fixes, so you could get this in for yourself sooner. There's some documentation on building Mosh for Chrome in the GitHub wiki.

[2017-07-16 00:29] acornejo commented on #40
Sounds good. Hopefully one of the mosh maintainers can take a look over the patch and send me some feedback so that it eventually gets merged.

Perhaps @cgull would be interested in taking a look, since I see he commented on this bug as well.
The patch is simple enough, I piggy backed into the existing OSC infrastructure that handled terminal title changes to handle clipboard changes as well, so I

[2017-07-16 00:29] rpwoodbu commented on #5
Yes, Option 1 would require some work to implement, but the communication isn't really the hard part. There's already communication happening between NaCl and a mosh_window page just to get stuff into and out of the terminal emulator (which is in JavaScript). I'd have to look into it to be sure, but it may be easy to direct that same communication method to an arbitrary page in the app. The main r

[2017-07-16 00:34] rpwoodbu commented on #5
I just realized that I glossed over your parenthetical re Option 3. I actually tried to do exactly what you described regarding the nonce, but it doesn't work because there's no way to reset the server's idea of what state the client has. So you'd have to persist the entirety of the terminal state. That just seems like a bridge too far. I did consider trying to add a "state reset" command to the p

[2017-07-16 01:41] acornejo commented on #5
Thanks for taking the time to reply.

I had forgotten that this is a stateful protocol, so your analysis seems spot on, option 3 will be impossible without at least some customization of mosh upstream that allows the client to send a reset signal to the server.

Regarding option 2, do you know of any such app? I am new to chrome os, but as far as I can tell every app has exactly the same top bar,

[2017-07-16 02:20] rpwoodbu commented on #5
The [Chrome Remote Desktop](https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?utm_source=chrome-app-launcher-search) app has a bar which looks similar in many ways to the OS-provided bar, but adds a full-screen button and a hamburger menu.

Just the other day I was looking for a decent serial terminal emulator (I could find a _decent_ one; I should ju

[2017-07-16 16:03] acornejo commented on #5
Ahh!

This is great, thank you. I think you've hit the nail in the head, it seems the option we want is readily available. Namely `frame: 'none'` as the create window options will give us a frameless window. This is in fact properly documented:

https://developer.chrome.com/apps/app_window#type-CreateWindowOptions

Using that option would allow the app to create its own frame with minimize/maximiz

[2017-07-18 05:25] rpwoodbu commented on #5
Thanks for running that down! This would enable a few other niceties (some of which have been requested in the past), such as:
 * Showing the connected machine in the bar.
 * Hiding the bar for extra vertical real estate.
 * Adding a discoverable menu (that wouldn't conflict with hterm's context menu) for features such as:
   * Creating a new session.
   * Switching sessions.

I would want the new

[2017-07-24 23:26] cgull commented on #153
As the author of said tests, I applaud the sentiment, but that may be...challenging.  The tests are mostly end-to-end tests that inspect the client's behavior when poked and prodded with test programs at both client and server.  They use tmux to provide a client terminal emulation that screen dumps can be grabbed from, and really expect the mosh-client program to be a CLI program-- does the build

[2017-07-25 02:28] rpwoodbu commented on #153
Thanks for those details, @cgull. I haven't actually looked at your tests, so I didn't know their nature; I think I'd just assumed they were unit tests.

Let me give you a little background on how Mosh for Chrome is built, and why I thought it'd be good to run your tests. Mosh for Chrome uses [Bazel](https://bazel.io/). While it is technically possible to make it run `make` for building the upstre

[2017-07-25 06:40] rpwoodbu commented on #153
After spending some time on this, I have found that it would take a fair amount of work to get these tests running in Bazel, unfortunately. Bazel is rather opinionated about how files are laid out. It is part of its hermetic and deterministic nature. There are numerous places in your shell scripts where files are expected to be available via `$PATH`, or with respect to `$PWD`, etc. It could be cle

[2017-07-25 14:21] MakeItGreatAgain opened #156 "Failure to examine libssh2_userauth_authenticated leads to failure to use "none" authentication."
per the libssh2 docs: https://www.libssh2.org/libssh2_userauth_list.html:

The chrome-mosh code never does this check, thus "none" authentication is broken.  This can be confirmed by attempting to connect to my public Multics host (`mosh dps8@m.trnsz.com`):

`Authentication types supported by server:`
`Failed to get authentication types: `

This will succeed as expected in Prompt, Reflection, PuTT

[2017-07-25 16:01] MakeItGreatAgain commented on #156
Note: Edited original issue to include test case of mosh dps8@m.trnsz.com

[2017-07-30 18:41] gordallott commented on #111
for what it is worth, this terminal *does* support 256colors (as shown by 256colors.pl).
the terminal *does not* support settings the colors 17-21 which is why the bottom colors show up blue in the base16 color test

![screenshot 2017-07-30 at 19 33 29](https://user-images.githubusercontent.com/2665595/28756031-ede898ec-755e-11e7-935d-3a83a90785f7.png)

indeed normally base16 is able to change you

[2017-07-30 19:41] rpwoodbu commented on #111
@gordallott Is this reproducible in the Secure Shell app? May be an hterm problem.

[2017-07-31 03:44] rpwoodbu commented on #156
Well, Mosh for Chrome uses libssh, not libssh2. However, it too exhibits similar behavior, with slightly different semantics. I even acknowledge that this doesn't work right in a comment [here](https://github.com/rpwoodbu/mosh-chrome/blob/master/mosh_nacl/ssh.cc#L139).

This shouldn't be terribly hard to fix. I think ssh::Session::GetAuthenticationTypes() could just return SSH_AUTH_METHOD_NONE (wh

[2017-07-31 08:28] gordallott commented on #111
Secure Shell handles it properly

![screenshot 2017-07-31 at 09 25 25](https://user-images.githubusercontent.com/2665595/28769196-6e5a9566-75d2-11e7-96da-cbfbb85c30d2.png)

allows me to change colour schemes on the fly with base16 commands also

[2017-08-01 02:34] rpwoodbu commented on #111
@gordallott I just tried to repro this, and I don't see this working in Secure Shell (v0.8.36.8)... in other words, I see blue lines instead of gray. I connected directly to a machine and ran `colortest`; I did not jump through mosh, tmux, screen, etc. So this would suggest that the problem is with hterm.

I'm curious as to why it'd be working for you. What version of Secure Shell are you running?

[2017-08-01 03:12] #156 closed

[2017-08-01 03:19] rpwoodbu commented on #155
Duplicate of #93.

[2017-08-01 03:19] #155 closed

[2017-08-01 03:20] rpwoodbu commented on #93
This doesn't seem to work. I still have to wait a long time for updates to take effect.

[2017-08-01 03:59] #93 closed

[2017-08-01 10:13] gordallott commented on #111
using the same Secure Shell version here (0.8.36.8), note in order to install base16 properly to test this you will want to set a color theme as well as set the bashrc details. if you run `base16_railscasts` in secure shell it should change the terminal colour scheme and running colortest should produce the correct results

[2017-08-02 03:50] acornejo commented on #40
https://github.com/mobile-shell/mosh/pull/899 got merged.

Could we get a new mosh-chrome release?

[2017-08-02 07:43] rpwoodbu commented on #40
@acornejo Glad you got your PR in! However, I stick with the actual released versions of the upstream Mosh code, so we'll need to wait until they do another release. They _just_ did one (and I haven't quite gotten that out the door yet, still only in the dev track), so it may be a little bit.

[2017-08-03 06:38] cgull commented on #111
The core Mosh code doesn't support the escape sequences for changing base colors, so Base16 is not going to work there or in mosh-chrome.  We ran into this issue before, see http://mailman.mit.edu/pipermail/mosh-users/2016-June/000323.html for a bit more discussion.  Please open an issue at https://github.com/mobile-shell/mosh if this is something you want fixed.

@rpwoodbu, do you know if hterm s

[2017-08-04 03:03] geofft commented on #151
I got an abort again. I don't know if it's the same one, but here's the error:

[code]

The JS console has the same messages.

I was actually not using mosh at all during this time, but watching video in the browser.

[This assertion](https://github.com/mobile-shell/mosh/blob/mosh-1.3.2/src/network/network.cc#L452) is making sure that we don't get EAGAIN on `recv()` on ... the most recent port? Or

[2017-08-04 06:52] keithw commented on #151
This code is part of the Mosh client's use of multiple datagram sockets, because it wants to start hopping local ports if the connection dies (e.g. in the case of NAT timeout), while still listening on the old ports for a little bit in case the server sent a datagram there.

When `select` tells the client that one of the sockets is readable, eventually we end up in Connection::recv, where it loops

[2017-08-04 06:56] keithw commented on #151
I don't think simply removing that assertion is going to fix the problem, because then you're going to end up at https://github.com/mobile-shell/mosh/blob/mosh-1.3.2/src/network/network.cc#L463 `assert( false )`.

But maybe it should just say `if ( islast ) { throw; } else { continue; }` and let the UI display the exception. That would at least make it nonfatal. We could be Moshy and make the exce

[2017-08-07 02:23] jgallen23 opened #157 "desktop notification support?"
Any chance we can leverage http://www.rosipov.com/blog/desktop-notifications-from-chrome-secure-shell/ to add notifications in mosh?

[2017-08-07 04:46] rpwoodbu commented on #157
Mosh for Chrome already uses hterm, which is the terminal emulator used by Secure Shell. There is already a desktop notification facility that has been there for a while (thanks, @mjkelly), but I think it just pops up on receipt of BEL; perhaps it has gotten more robust. It is possible that simply updating Mosh for Chrome to the latest hterm will unleash this new capability!

One thing to note, ho

[2017-08-07 07:40] keithw commented on #157
FWIW, Mosh **does** guarantee eventual delivery of BELs (but many BELs may be compacted into just one).

So if an application sends a BEL, the client will eventually get a BEL if it ever comes back (even if every cell in the terminal has long been rewritten with something else).

[2017-08-17 15:38] cgull commented on #151
Looking at this again, I want to mention that WinSock *only* supports non-blocking sockets, and it's entirely plausible that a POSIX-like implementation on Windows might occasionally leak an `EAGAIN`/`EWOULDBLOCK`.

I did end up making a change that throws for the never-got-anything case, but I didn't do anything for the original issue here.  My thinking is that we should change it too-- I think w

[2017-08-17 20:30] rpwoodbu commented on #151
I haven't reviewed this issue carefully to @cgull's comment, I would add that the Pepper API (which is what I must use from NaCl) also _only_ supports non-blocking sockets. The primary contribution in Mosh for Chrome is a POSIX "adapter" which provides blocking sockets on top of the more JS-esque Pepper API. So it is entirely likely there's a bug in there where I'm spitting out EAGAIN or EWOULDBLO

[2017-08-17 21:11] geofft commented on #151
Aha! Well, if I'm reading this code right, Selector::Select will return if any fd registered with the selector has activity, whether or not it's an argument to the current call to select, no?

https://github.com/rpwoodbu/mosh-chrome/blob/master/mosh_nacl/pepper_posix_selector.cc#L88

That means the EAGAIN can be reproduced by trying to do a blocking read on a network socket while I type something

[2017-08-24 17:16] cgull commented on #151
I committed a change to Mosh that simply removes the use of a blocking `recvmsg()`.  I didn't see much point in doing the same thing two different ways, if one of them causes pain.  I think that'll make everybody happy.

[2017-10-02 15:10] shaded-enmity opened #158 "NativeClient: could not create instance"
I'm experiencing the following error when trying to run Mosh (0.4.5) on Windows 10 x32 box with Chrome 61.0.6163.100:

[code]

[2017-10-02 18:09] rpwoodbu commented on #158
You said "x32"... Are you saying you're running a 32-bit machine? I wouldn't be at all surprised if NaCl is broken in Chrome on 32-bit. Can you run other NaCl apps, such as Secure Shell?

[2017-10-02 23:41] shaded-enmity commented on #158
32bit version of Windows, the CPU is x64 Atom. Secure shell works fine.

[2017-10-04 05:55] rpwoodbu commented on #158
Hmm, interesting that Secure Shell is working OK. You might try installing "Mosh (dev)" from the store, and seeing if that works better. I've seen bugs building for ARM, so maybe there are bugs building for i686, too.

[2017-10-25 21:15] MyBrokenPC opened #159 "Server fingerprint will not store."
for some reason this will not store the MD5 finger print.

Could NOT authenticate DNS lookup.
Unauthenticated SSHFP fingerprint record(s) in DNS; ignoring.
Remote ssh host name/address:
  65.XX.XX.XX:22
ssh-rsa key fingerprint of remote ssh host (MD5):
  be:58:a3:32:78:31:91:1e:7e:eb:42:0b:04:38:36:ed
Server fingerprint unknown. Store and continue? (Yes/No): y
Please specify Yes or No.
Server fing

[2017-10-25 22:54] rpwoodbu commented on #159
You must specify "Yes or No", not "y".

[2017-10-25 22:54] #159 closed